<div class="align-middle text-center">
  {% set changed_at = widget.attrs.changed_at %}
  {% set error_message = widget.attrs.error_message %}
  {% set changed_on = (changed_at and changed_at.strftime("%d-%m-%Y")) or _("N/A") %}
  {% set changed_time_at = (changed_at and changed_at.strftime('%H:%M')) or _("N/A") %}
  {% if widget.value == 'sent' %}
    <i class="far fa-envelope text-success text-center"
       aria-hidden="true"
       data-toggle="tooltip"
       title="{% trans %}The invitation was sent on {{ changed_on }} at {{ changed_time_at }}{% endtrans %}"></i></i>
  {% elif widget.value == 'accepted' %}
    <i class="far fa-envelope-open text-success text-center"
       aria-hidden="true"
       data-toggle="tooltip"
       title="{% trans %}The user has accepted your invitation on {{ changed_on }} at {{ changed_time_at }}{% endtrans %}"></i>
  {% elif widget.value == 'testified' or widget.value == 'authorized' %}
    <i class="fa fa-check-circle text-success text-center"
       aria-hidden="true"
       data-toggle="tooltip"
       title="{% trans %}This invite has been acted on {{ changed_on }} at {{ changed_time_at }}{% endtrans %}"></i>
 {% elif widget.value == 'opted-out' or widget.value == 'opted_out' %}
   <i class="fa fa-ban text-danger text-center"
      aria-hidden="true"
      data-toggle="tooltip"
      title="{% trans %}The user has opted out of your invitation on {{ changed_at }} at {{ changed_time_at }}{% endtrans %}"></i>
 {% elif widget.value == 'bounced' %}
   <i class="fa fa-exclamation-triangle text-danger text-center"
      data-placement="right"
      aria-hidden="true"
      data-toggle="popover"
      data-trigger="manual"
      data-html="true"
      title="{% trans %}The invitation delivery failed{% endtrans %}"
      data-content="{% trans %}The invitation delivery failed or autoreplied at {{ changed_at }} Please confirm the recipient is receiving email.{% endtrans %}{% if error_message %}<br/><br/><pre>{{ error_message }}</pre>{% endif %}"></i>
 {% endif %}
 <input type="hidden"
        name="{{ widget.name }}"
        {% if widget.value != None %}
        value="{{ widget.value }}"
      {% endif %}{% include "django/forms/widgets/attrs.html" %}>
</div>
