{% extends 'base.html' %}
{% load crispy_forms_tags static i18n crispy_forms_field tags django_bootstrap_breadcrumbs %}

{% block css %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block localcss %}
  {{ block.super }}
  <style>
select {padding-right: 1px;}
option {direction: rtl;}
  </style>
{% endblock %}

{% block title %}{{ application }}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with category="reviews" %}{% endblock sidebar %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if round %}
    {% breadcrumb_for round-coi round=round.pk %}
    {% trans 'Conflicts of Interest' %}
    {% endbreadcrumb_for %}
    {% breadcrumb round "round-coi" round=round.pk %}
  {% endif %}
{% endblock %}

{% block content %}

  {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="?page=1">{% trans 'First' %}</a>
        </li>
        <li class="page-item{% if page_obj.has_previous %} disabled{% endif %}">
          <a
              class="page-link"
              {% if page_obj.has_previous  %}
                href="?page={{ page_obj.previous_page_number }}"
              {% else %}
                  href="#"
                {% endif %}
                  tabindex="-1"
                  >{% trans 'Previous' %}</a>
        </li>

        {% for p in paginator.page_range %}
          <li class="page-item{% if page_obj.number == p %} active{% endif %}">
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
          </li>
        {% endfor %}

        <li class="page-item">
          <a
              class="page-link{% if page_obj.has_next %} disabled{% endif %}"
              {% if page_obj.has_next  %}
                href="?page={{ page_obj.next_page_number }}"
              {% else %}
                  href="#"
                {% endif %}
                  >{% trans 'Next' %}</a>
        </li>

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
      </ul>
    </nav>
  {% endif %}

  <div class="form-group">
    <div class="col-12">
      <div class="input-group">
        <div id="radioBtn" class="btn-group" role="group">
          <button type="button" class="btn btn-{% if not is_all_coi_statements_sumitted or not has_conflict_False %}outline-{% endif %}success" data-toggle="fun" data-title="0">{% trans 'No' %}</button>
          <button type="button" class="btn btn-{% if is_all_coi_statements_sumitted %}outline-{% endif %}secondary" data-toggle="fun" data-title="none">{% trans 'Reset' %}</button>
          <button type="button" class="btn btn-{% if not is_all_coi_statements_sumitted or not has_conflict_True %}outline-{% endif %}danger" data-toggle="fun" data-title="1">{% trans 'Yes' %}</button>
        </div>
        <label for="fun" class="col-sm-9 col-md-9 control-label">
          {% trans 'I have or do not have a conflict of interest in respect to all the applications' %}
        </label>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
          function toggleOutline(el) {
                var current=el.attr("class").split(" ")[1];
                var parts=current.split("-");
                var newClass=((parts[1]=='outline') ? [parts[0], parts[2]]: [parts[0], 'outline', parts[1]]).join('-');
                el.removeClass(current);
                el.addClass(newClass);
              };
          function setOutline(el) {
                var classes=el.attr("class");
                if (classes.includes("outline")) return;
                var current=classes.split(" ")[1];
                var parts=current.split("-");
                var newClass=([parts[0], 'outline', parts[1]]).join('-');
                el.removeClass(current);
                el.addClass(newClass);
              };
          function unsetOutline(el) {
                var classes=el.attr("class");
                if (!classes.includes("outline")) return;
                var current=classes.split(" ")[1];
                var parts=current.split("-");
                var newClass=([parts[0], parts[2]]).join('-');
                el.removeClass(current);
                el.addClass(newClass);
              };

          $('#radioBtn button').on('click', function() {
                var sel = $(this).data('title');
                var tog = $(this).data('toggle');
                if ($(this).attr("class").includes("outline")) {
                      toggleOutline($(this));
                      $(this).siblings("button").each(function() {setOutline($(this));});
                    }
                $('.three-value-choice button').each(function() {
                      if ($(this).data("title") == sel) unsetOutline($(this)); else setOutline($(this));
                    });
                $(".three-value-choice").each(function() {
                      $(this).siblings("input[type='hidden']").prop("value", sel);
                    });
              });

          $('.three-value-choice button').on('click', function(){
                var sel = $(this).data('title');
                if ($(this).attr("class").includes("outline")) {
                      toggleOutline($(this));
                      $(this).siblings("button").each(function() {setOutline($(this));});
                    }
                $(this).parent().siblings("input[type='hidden']").prop("value", sel);
              });
        });
  </script>

  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table" style="width: 100%;">

      <thead>
        <tr>
          <th>{% trans 'Applications' %}</th>
          <th>{% trans 'Conflict of Interests' %}</th>
          <th>{% trans 'Comment' %}</th>
        </tr>
      </thead>

      <tbody>
        {% for form in formset %}
          {{ form.id }}{{ form.panellist }}{{ form.application }}
          <tr>
            <td class="form-group" style="width: 30%; max-width: 20pc;">

              {% with a=form.instance.application|default:form.initial.application %}
                <b>
                  {% if a.application_title %}
                    {{ a.application_title }}
                  {% else %}
                    {{ round }}
                  {% endif %}
                  (<a href="{% url 'application' pk=a.id %}">{{ a.number }}</a>)
                </b>

                <ul>
                  <li>{{ a|person_with_email }}</li>
                  {% if a.is_team_application %}
                    {% for m in a.members.all %}
                      <li>{{ m|person_with_email }}</li>
                    {% endfor %}
                  {% endif %}
                </ul>
              {% endwith %}
            </td>

            <td class="form-group" style="width: 6pc;">
              {{ form.has_conflict }}
              <div class="btn-group three-value-choice" role="group">
                <button type="button" class="btn btn-{% if form.has_conflict.value != False %}outline-{% endif %}success" data-toggle="fun" data-title="0">{% trans 'No' %}</button>
                <button type="button" class="btn btn-{% if form.has_conflict.value is not None %}outline-{% endif %}secondary" data-toggle="fun" data-title="none">{% trans 'n/a' %}</button>
                <button type="button" class="btn btn-{% if form.has_conflict.value != True %}outline-{% endif %}danger" data-toggle="fun" data-title="1">{% trans 'Yes' %}</button>
              </div>
            </td>

            <td class="form-group" style="max-width: 60%;">
              {% crispy_field form.comment %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="buttonHolder mb-3 float-right">
      <!-- input type="submit" name="save_draft"
                           value="{% trans 'Save' %}" class="btn btn btn-primary" id="submit-id-save_draft" -->
      <input type="submit" name="submit"
                           value="{% trans 'Submit' %}" class="btn btn btn-outline-primary" id="submit-id-submit">
    <a href="{% if round %}{% url 'round-application-list' round_id=round.pk %}{% else %}{% url 'reviews' %}{% endif %}"
       type="button"
       role="button"
       class="btn btn-secondary"
       id="cancel"
       >
       {% trans 'Cancel' %}
    </a>

      {% if not round.has_online_scoring %}
        {% if round.score_sheet_template %}
          <a
              href="{{ round.score_sheet_template.url }}"
              type="button" role="button"
                            class="btn btn-success" id="download-score-sheet"
                                                    data-toggle="tooltip" title="{% trans 'Download score sheet template' %}"
                                                                          >
                                                                          {% trans 'Download Score Sheet' %}...
          </a>
          {% else %}
            <a
                href="{% url 'export-score-sheet' round=view.kwargs.round %}"
                type="button" role="button" class="btn btn-success" id="download-score-sheet"
                                                                    data-toggle="tooltip" title="{% trans 'Download generated score sheet' %}">
              {% trans 'Download Score Sheet' %}...
            </a>
          {% endif %}

          {% if is_all_coi_statements_sumitted %}
            <a href="{% url 'score-sheet' round=view.kwargs.round %}" type="button" role="button" class="btn btn-outline-success" id="download-score-sheet">
              {% trans 'Uploade Score Sheet' %}...
            </a>
          {% endif %}
        {% endif %}

    </div>
  </form>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock %}
