{% extends "base.html" %}

{% load static i18n account socialaccount crispy_forms_tags %}

{% block localcss %}
  {{ block.super }}
  <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
{% endblock %}

{#% block header %}{% endblock header %#}
{% block sidebar %}{% endblock sidebar %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block page %}

  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto account-box" style="max-width: 480px;background-color: white;">

      <!-- div class="card card-signin my-5" -->

          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" style="width: 50%">
              <!-- a class="nav-link active" href="{{ account_login }}">{% trans 'Sign In' %}</a -->
              <a class="nav-link active"
                  href="#login" id="loging-tab" data-toggle="tab"
                  role="tab" aria-controls="home" aria-selected="true">{% trans 'Sign In' %}</a>
            </li>
            <li class="nav-item" style="width: 50%">
              <!-- a class="nav-link" href="{{ signup_url }}">{% trans 'Sign Up' %}</a -->
              <a class="nav-link" href="#signup" id="signup-tab"
                  data-toggle="tab" role="tab" aria-controls="home"
                  aria-selected="true">{% trans 'Sign Up' %}</a>
            </li>
          </ul>

        <div class="tab-content">

          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">

            <form class="login-form" autocomplete="on"  method="POST" action="{% url 'account_login' %}">

              {% csrf_token %}

              <input type="hidden"
                    name="{{ redirect_field_name }}"
                    value="{% url 'onboard' %}{% if redirect_field_value %}?next={{ redirect_field_value }}{% endif %}" />

              <!-- div class="avatar">
                <img src="{% static 'images/avatar.png' %}" alt="Avatar" />
              </div -->

              <a title="Google"
                class="btn btn-lg btn-google btn-block"
                href="{% provider_login_url 'google' process=process scope=scope auth_params=auth_params %}">
                <i class="fab fa-google mr-2"></i>
                {% trans 'Sign in with' %} <strong>Google</strong>
              </a>

              <a title="ORCID"
                class="btn btn-lg btn-orcid btn-block btn-orcid"
                href="{% provider_login_url 'orcid' process=process scope=scope auth_params=auth_params %}">
                <img src="{% static 'images/orcid-logo-white.png' %}" alt="">
                {% trans 'Sign in with' %} <strong>ORCID iD</strong>
              </a>

              <!-- a title="Facebook"
                class="btn btn-lg btn-facebook btn-block"
                href="#">
                <i class="fab fa-facebook-f mr-2"></i> Sign in with <strong>Facebook</strong>
                style="border-color: #3e3f3a; border-bottom-width: 1px;"
                </a -->

                <a
                  title="Tuakiri"
                  class="btn btn-outline-secondary btn-lg btn-block tuakiri"
                  href="{% provider_login_url 'rapidconnect' process=process scope=scope auth_params=auth_params %}">
                  <img src="https://rapidconnect.staging.tuakiri.ac.nz/REANNZ_Tuakiri_service_120x42.png">
                </a>

                <hr class="my-4">
                <!-- div class="or-seperator"><b>or</b></div -->

                <div class="form-label-group">
                  <input name="login" id="inputEmail" class="form-control" placeholder="Email address or username" required autofocus>
                  <label for="inputEmail">{% trans 'Email address or username' %}</label>
                </div>

                <div class="form-label-group">
                  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">{% trans 'Password' %}</label>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input name="remember" type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">{% trans 'Remember password' %}</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans 'Sign in' %}</button>
            </form>

            <p class="text-center small"><a style="color: gray;" href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a></p>

          </div>

          <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">

            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

            <form id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>

          </div>

      </div>

    <!-- /div -->
    <!-- p class="text-center small note">{% trans "Don't have an account or any other social network account?" %} <a class="note" href="{{ signup_url }}">{% trans "Sign&nbsp;up&nbsp;here!" %}</a></p -->
  </div>

  </div>
{% endblock %}
