{% extends "profile.html" %}
{% load i18n crispy_forms_tags %}

{% block sidebar %}{% include 'sidebar.html' with categrory="account" %}{% endblock sidebar %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block section %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
