{% extends "base.html" %}
{% load static i18n account socialaccount %}

{% block localcss %}
  {{ block.super }}
  <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}{% endblock sidebar %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page %}

  <div class="container">
    <div class="jumbotron">

      <h1>{% trans "Change Password" %}</h1>
      <p>{% trans 'Your password is now changed.' %}</p>

    </div>
  </div>

{% endblock %}

