{% extends "account/base.html" %}
{% load static i18n account socialaccount crispy_forms_tags %}

{% block localcss %}
  {{ block.super }}
  <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs_content %}<div class="mt-2"></div>{% endblock %}

{% block sidebar %}{% endblock sidebar %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block page %}
  {% include "account/card.html" with active="signup" %}
{% endblock %}

{% if site.name == "portal.pmscienceprizes.org.nz" %}
  {% block javascript %}
    {{ block.super }}
    <script>
      $(document).ready(function(){
          $('#welcome').modal('show');
        });
    </script>
  {% endblock javascript %}
{% endif %}
