{% extends "base.html" %}
{% load static i18n account socialaccount crispy_forms_tags %}

{% block localcss %}
  {{ block.super }}
  <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock header %}
{% block sidebar %}{% endblock sidebar %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block page %}

  <div class="row">
    <!-- div class="col-sm-9 col-md-9 col-lg-9 mx-auto" style="max-width: 480px;" -->
    <div class="col-8 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">

          <h1>{% trans "Sign Up" %}</h1>

          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>

        </div>
      </div>
    </div>
  </div>


{% endblock %}
