{% extends "base.html" %}
{% load static i18n compress %}

{% block title %}Server Error{% endblock %}

{% block content %}
  <h1>{% trans "Ooops!!! 500" %}</h1>

  <h3>{% trans "Looks like something went wrong!" %}</h3>

  <p>
  {% trans "We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing." %}
  </p>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  {% if sentry_event_id %}
    <script src="https://browser.sentry-cdn.com/5.20.1/bundle.min.js" integrity="sha384-O8HdAJg1h8RARFowXd2J/r5fIWuinSBtjhwQoPesfVILeXzGpJxvyY/77OaPPXUo" crossorigin="anonymous"></script>
    <script>
      Sentry.init({ dsn: 'https://examplePublicKey@o0.ingest.sentry.io/0' });
      Sentry.showReportDialog({ eventId: '{{ sentry_event_id }}' })
    </script>
  {% endif %}

{% endblock javascript %}
