{% extends 'detail.html' %}

{% load i18n crispy_forms_tags tags %}
{% block sidebar %}{% include 'sidebar.html' with categrory="applications" %}{% endblock sidebar %}

{% block content %}

  {% if form %}
    {% block css %}
      {{ form.media.css }}
      {{ block.super }}
    {% endblock %}
    {% crispy form %}
    {% block javascript %}
      {{ block.super }}
      {{ form.media.js }}
    {% endblock %}
  {% endif %}

  {#{ block.super }#}

  {% with a=object %}
  <table class="table table-bordered searchable">
    <tbody>

          <tr>
            <th style="width: 21%; min-width: 160px; max-width: 180px;">
              {% trans 'Number' %}</th>
            <td>{{ a.number }} </td>
          </tr>

          {% if a.submitted_by %}
            <tr>
              <th>{% trans 'Submitted By' %}</th>
              <td>{{ a.submitted_by }}</td>
            </tr>
          {% endif %}

          <tr>
            <th>{% trans 'Application Title' %}</th>
            <td>{{ a.application_title }}</td>
          </tr>

          <tr>
            <th>{% trans 'Round' %}</th>
            <td>{{ a.round }}</td>
          </tr>

          {% if a.is_team_application %}
            <tr>
              <th>{% trans 'Is Team Application' %}</th>
              <td>{{ a.is_team_application }}</td>
            </tr>

            <tr>
              <th>{% trans 'Team Name' %}</th>
              <td>{{ a.team_name|default:'' }}</td>
            </tr>

            <tr>
              <th>{% trans 'Team:' %}</th>
              <td>
                {% if m.members.count %}
                  <ul>
                  {% for m in a.members %}
                    <li>{{ m }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </td>
            </tr>
          {% endif %}

          <tr>
            <th>{% trans 'Applicant' %}</th>
            <td>
              {% if a.title %}{{ a.title }} {% endif %}
              {{ a.first_name }}
              {% if a.middle_name %} a.middle_name{% endif %}
              {{ a.last_name }}
            </td>
          </tr>

          <tr>
            <th>{% trans 'Organisation' %}</th>
          <td>{% if a.org %}{{ a.org }}{% else %}{{ a.organisation|default:'' }}{% endif %}
            </td>
          </tr>

          <tr>
            <th>{% trans 'Position' %}</th>
            <td>{{ a.position|default:'' }}</td>
          </tr>

          <tr>
            <th>{% trans 'Postal Address' %}</th>
            <td>{{ a.postal_address }}</td>
          </tr>

          <tr>
            <th>{% trans 'City' %}</th>
            <td>{{ a.city }}</td>
          </tr>

          <tr>
            <th>{% trans 'State' %}</th>
            <td>{{ a.state }}</td>
          </tr>

          <tr>
            <th>{% trans 'Postcode' %}</th>
            <td>{{ a.postcode }}</td>
          </tr>

          <tr>
            <th>{% trans 'Daytime Phone Number' %}</th>
            <td>{{ a.daytime_phone_number }}</td>
          </tr>

          <tr>
            <th>{% trans 'Mobile Phone Number' %}</th>
            <td>{{ a.mobile_phone_number }}</td>
          </tr>

          <tr>
            <th>{% trans 'Email Address' %}</th>
            <td>{{ a.email_address }}</td>
          </tr>

          {% if a.summary or a.summary_en or a.summary_mi %}
            {% if a.is_bilingual_summary %}

              {% if a.summary_en %}
                <tr>
                  <th>{% trans 'Summary (English)' %}</th>
                  <td>
                    {{ a.summary_en|safe }}
                  </td>
                </tr>
              {% endif %}

              {% if a.summary_mi %}
                <tr>
                  <th>{% trans 'Summary (Maori)' %}</th>
                  <td>
                    {{ a.summary_mi|safe }}
                  </td>
                </tr>
              {% endif %}

            {% elif a.summary %}
              <tr>
                <th>{% trans 'Summary' %}</th>
                <td>{{ a.summary|safe }}</td>
              </tr>
            {% endif %}
        {% endif %}

        <tr>
          <th>{% trans 'Filled-In Entry Form' %}</th>
          <td>TODO</td>
        </tr>

        <tr>
          <th>{% trans 'Photo Identity' %}</th>
          <td>TODO</td>
        </tr>

    </tbody>
  </table>
{% endwith %}

{% endblock %}
