{% extends "form.html" %}
{% load crispy_forms_tags static i18n %}

{% block head_title %}{{ object }}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with categrory="applications" %}{% endblock sidebar %}

{% block css %}
  {{ form.media.css }}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>
          {{ object|title }}
        </h1>

        <form method="post" enctype="multipart/form-data">
          {% crispy form form.helper %}
          {% if inlines %}
            <hr />
            {% for formset in inlines %}
              {% crispy formset helper %}
            {% endfor %}
          {% endif %}

        </form>

      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
    {{ form.media.js }}
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js" integrity="sha512-8vfyGnaOX2EeMypNMptU+MwwK206Jk1I/tMQV4NkhOz+W8glENoMhGyU6n/6VgQUhQcJH8NqQgHhMtZjJJBv3A==" crossorigin="anonymous"></script>
  <script>
    function activateRefereeTab() {
      document.getElementById("submit-id-save_draft").value = "{% trans 'Save and send new initations' %}";
      document.getElementById("submit-id-submit").hidden = true;
      document.getElementById("cancel").hidden = true;
    }
    $(function() {
      bootbox.addLocale('mi', {
        OK      : 'Pai',
        CANCEL  : 'Whakakore',
        CONFIRM : 'Whakaū'
      });
      bootbox.setDefaults({
        locale: "{{ LANGUAGE_CODE }}"
      });
      {% if not form.is_team_application.value %}$("#members").hide();{% endif %}
      $('#id_is_team_application').change(function() {
        if (!($(this).prop('checked'))) {
          $("#members").hide();
          $("#submitter legend").text("{% trans 'Individual applicant' %}");
          $("a[href='#applicant']").text("{% trans 'Applicant' %}");
        } else {
          $("#members").show()
          $("#submitter legend").text("{% trans 'Team representative' %}");
          $("a[href='#applicant']").text("{% trans 'Team' %}");
        };
      });
      {% if not form.is_bilingual_summary.value %}
        $("#div_id_summary_en").hide();
        $("#div_id_summary_mi").hide();
      {% endif %}
      $('#id_is_bilingual_summary').change(function() {
        if (!($(this).prop('checked'))) {
          $("#div_id_summary_en").hide();
          $("#div_id_summary_mi").hide();
        } else {
          $("#div_id_summary_en").show()
          $("#div_id_summary_mi").show()
        };
      });
      // Focus on the first tab with invalid input:
      $('#submit-id-save,#submit-id-submit').click(function () {
          $('input:invalid').each(function () {
              // Find the tab-pane that this element is inside, and get the id
              var $closest = $(this).closest('.tab-pane');
              var id = $closest.attr('id');

              // Find the link that corresponds to the pane and have it show
              $('.nav a[href="#' + id + '"]').tab('show');

              // Only want to do it once
              return false;
          });
      });
      // Track the changes in the form fields
      $("form :input").change(function() {
        $(this.form).data("changed", true);
      });
      $(document).on("click", "#cancel", function(e) {
          if (!$(e.toElement).closest("form").data("changed")) return;
          e.preventDefault();  // need for a link
          href = $(this).attr('href');
          return bootbox.confirm("{% trans 'Do you want to close the form without saving it?' %}", function(result) {
            // console.log("Result: ", result);
            if (result) window.location = href;
          });
      });
      {% if "verification" in request.GET %}$('.nav a[href="#id-verification"]').tab('show');{% endif %}
      {% if "referees" in request.GET %}$('.nav a[href="#referees"]').tab('show'); activateRefereeTab();{% endif %}
    });
    $(document).ready(function() {
      $("#div_id_title").parent().css("min-width", "4rem");
      $("#id_title").parent().css({"padding-left":"1px", "padding-right":"1px"});
      $('a[data-toggle="tab"][href="#referees"]').on('show.bs.tab', activateRefereeTab);
      $('a[data-toggle="tab"][href="#referees"]').on('hide.bs.tab', function (e) {
        document.getElementById("submit-id-save_draft").value = "{% trans 'Save Draft' %}";
        document.getElementById("submit-id-submit").hidden = false;
        document.getElementById("cancel").hidden = false;
      });
    });
  </script>
{% endblock %}
