{% extends 'detail.html' %}

{% load i18n crispy_forms_tags tags %}
{% block sidebar %}{% include 'sidebar.html' with categrory="applications" %}{% endblock sidebar %}

{% block content %}

  {% if form %}
    {% block css %}
      {{ form.media.css }}
      {{ block.super }}
    {% endblock %}
    {% crispy form %}
  {% endif %}

  {#{ block.super }#}

  {% with a=object %}
  <table class="table table-bordered searchable">
    <tbody>

          <tr>
            <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
              {% trans 'Number' %}</th>
            <td>
              {% if request.user.is_superuser %}
                <a href="{% url 'admin:portal_application_change' object_id=a.id %}">
                  {{ a.number }}
                </a>
              {% else %}
                {{ a.number }}
              {% endif %}
            </td>
          </tr>

          {% if a.submitted_by %}
            <tr>
              <th class="table-dark" class="thead-dark" scope="row">{% trans 'Submitted By' %}</th>
              <td>{{ a.submitted_by }}</td>
            </tr>
          {% endif %}

          <tr>
            <th class="table-dark" scope="row">{% trans 'Application Title' %}</th>
            <td>{{ a.application_title }}</td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'Round' %}</th>
            <td>{{ a.round }}</td>
          </tr>

          {% if a.is_team_application %}

            <tr>
              <th class="table-dark" scope="row">{% trans 'Team Name' %}</th>
              <td>{{ a.team_name|default:'' }}</td>
            </tr>

            <tr>
              <th class="table-dark" scope="row">{% trans 'Team:' %}</th>
              <td>
                <ul>
                  {% for m in a.members.all %}
                    <li>{{ m|member_with_email }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}

          <tr>
            <th class="table-dark" scope="row">{% trans 'Applicant' %}</th>
            <td>
              {% if a.title %}{{ a.title }} {% endif %}
              {{ a.first_name }}
              {% if a.middle_name %} a.middle_name{% endif %}
              {{ a.last_name }}
            </td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'Organisation' %}</th>
          <td>{% if a.org %}{{ a.org }}{% else %}{{ a.organisation|default:'' }}{% endif %}
            </td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'Position' %}</th>
            <td>{{ a.position|default:'' }}</td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'Postal Address' %}</th>
            <td>{{ a.postal_address }}</td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'City' %}</th>
            <td>{{ a.city }}</td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'State' %}</th>
            <td>{{ a.state }}</td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'Postcode' %}</th>
            <td>{{ a.postcode }}</td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'Daytime Phone Number' %}</th>
            <td>{{ a.daytime_phone_number }}</td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'Mobile Phone Number' %}</th>
            <td>{{ a.mobile_phone_number }}</td>
          </tr>

          <tr>
            <th class="table-dark" scope="row">{% trans 'Email Address' %}</th>
            <td>{{ a.email_address }}</td>
          </tr>

          {% if a.summary or a.summary_en or a.summary_mi %}
            {% if a.is_bilingual_summary %}

              {% if a.summary_en %}
                <tr>
                  <th class="table-dark" scope="row">{% trans 'Summary (English)' %}</th>
                  <td>
                    {{ a.summary_en|safe }}
                  </td>
                </tr>
              {% endif %}

              {% if a.summary_mi %}
                <tr>
                  <th class="table-dark" scope="row">{% trans 'Summary (Maori)' %}</th>
                  <td>
                    {{ a.summary_mi|safe }}
                  </td>
                </tr>
              {% endif %}

            {% elif a.summary %}
              <tr>
                <th class="table-dark" scope="row">{% trans 'Summary' %}</th>
                <td>{{ a.summary|safe }}</td>
              </tr>
            {% endif %}
        {% endif %}

        <tr>
          <th class="table-dark" scope="row">{% trans 'Filled-In Entry Form' %}</th>
          <td>TODO</td>
        </tr>

        <tr>
          <th class="table-dark" scope="row">{% trans 'Photo Identity' %}</th>
          <td>TODO</td>
        </tr>

    </tbody>
  </table>


  <div class="tooltip-wrapper{% if scheme.application.state == 'submitted'%} disabled{% endif %}"
      {% if was_submitted %}
        disabled
        data-title="{% trans 'The application has been already submitted and cannot be modified' %}"
      {% elif not is_owner %}
        disabled
        data-title="{% trans 'Only the main applicant or a team member can edit the application' %}"
      {% else %}
        data-title="{% trans 'Modify your application and continue application process' %}"
      {% endif %}
  >

    <a href="{% url update_view_name pk=a.pk %}"
        class="btn btn-primary{% if not is_owner or was_submitted %} disabled{% endif %}"
    >{% trans update_button_name %}
    </a>

  </div>

  {% if export_button_view_name %}
    <a class="btn btn-primary" href="{% url export_button_view_name pk=a.pk %}">{% trans 'Export' %}</a>
  {% endif %}

{% endwith %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% if form %}
    {{ form.media.js }}
  {% endif %}
  <script>
    $(document).ready(function(){
        $('.tooltip-wrapper').tooltip(); // .tooltip({position: "bottom"});
    });
  </script>
{% endblock javascript %}


