{% extends "form.html" %}
{% load crispy_forms_tags static i18n %}

{% block head_title %}{{ object }}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with categrory="applications" %}{% endblock sidebar %}

{% block css %}
  {{ form.media.css }}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>
          {{ object|title }}
        </h1>

        <form method="post">{% csrf_token %}
          {% crispy form form.helper %}
          {% if inlines %}
            <hr />
            {% for formset in inlines %}
              {% crispy formset helper %}
            {% endfor %}
          {% endif %}

        </form>

      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script>
    $(function() {
      {% if not form.is_team_application.value %}$("#members").hide();{% endif %}
      $('#id_is_team_application').change(function() {
        if (!($(this).prop('checked'))) {
          $("#members").hide();
          $("#submitter legend").text("{% trans 'Individual applicant' %}");
          $("a[href='#applicant']").text("{% trans 'Applicant' %}");
        } else {
          $("#members").show()
          $("#submitter legend").text("{% trans 'Team representative' %}");
          $("a[href='#applicant']").text("{% trans 'Team' %}");
        };
      })
    });
    // Focus on the first tab with invalid input:
    $('#submit-id-save,#submit-id-submit').click(function () {
        $('input:invalid').each(function () {
            // Find the tab-pane that this element is inside, and get the id
            var $closest = $(this).closest('.tab-pane');
            var id = $closest.attr('id');

            // Find the link that corresponds to the pane and have it show
            $('.nav a[href="#' + id + '"]').tab('show');

            // Only want to do it once
            return false;
        });
    });
  </script>
{% endblock %}
