{% extends 'base.html' %}

{% load i18n tags %}

{% block content %}

  <h1>
    {{ object }}
  </h1>

  <table class="table table-bordered searchable">
    <tbody>

      {% for field in object|fields %}
        {% if field.name != 'id' and exclude is None or field.name not in exclude %}
          <tr>
            <th style="width: 21%; min-width: 160px; max-width: 180px;">{{ field.verbose_name|title }}</th>
            <td>
              {% if field.name == "summary" %}
                {{ object|field_value:field.name|safe }}
              {% else %}
                {{ object|field_value:field.name }}
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}

    </tbody>
  </table>

  {% if update_view_name %}
    <a class="btn btn-primary" href="{% url update_view_name pk=object.pk %}">{% trans 'Edit' %}</a>
  {% endif %}

{% endblock %}
