{% extends 'base.html' %}

{% load i18n tags %}

{% block content %}

  <h1>
    {{ object }}
  </h1>

  <div class="table-responsive">
  <table class="table table-bordered searchable">
    <tbody>

      {% for field in object|fields %}
        {% if field.name != 'id' and exclude is None or field.name not in exclude %}
          {% if not object|field_is_empty:field.name %}
          <tr>
            <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
              {{ field.verbose_name|title }}
            </th>
            <td>
              {% if object|field_is_empty:field.name %}
                {% trans 'N/A' %}
              {% elif field.name == "summary" %}
                {{ object|field_value:field.name|safe }}
              {% elif field|is_file_field %}
                <a href="{{ object|field_file_url }}" target="_blank">{{ object|field_file_name|basename }}</a>
              {% elif field.name == "converted_file"%}
                <a href="{{ object.converted_file|field_file_url }}" target="_blank">
                  {{ object.converted_file|field_file_name|basename }}
                </a>
              {% else %}
                {{ object|field_value:field.name }}
              {% endif %}
            </td>
          </tr>
          {% endif %}
        {% endif %}
      {% endfor %}

    </tbody>
  </table>
  </div>
  {% if extra_object %}

  <h1>
    {{ extra_object }}
  </h1>

  <div class="table-responsive">
  <table class="table table-bordered searchable">
    <tbody>

      {% for field in extra_object|fields %}
        {% if exclude is None or field.name not in exclude %}
          {% if field.name != 'id' and extra_object|field_value:field.name %}
            {% if field.name != "summary_en" or extra_object.is_bilingual_summary %}{% if field.name != "summary_mi" or extra_object.is_bilingual_summary %}{% if field.name != "photo_identity" or request.user.is_staff or request.user.is_superuser %}
              <tr>
                <th  class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
                  {{ field.verbose_name|title }}
                </th>
                <td>
                  {% if extra_object|field_is_empty:field.name %}
                    {% trans 'N/A' %}
                  {% elif field.name == "summary" or field.name == "summary_en" or field.name == "summary_mi" %}
                    {{ extra_object|field_value:field.name|safe }}
                  {% elif field|is_file_field %}
                      <a href="{{ extra_object|field_file_url }}" target="_blank">{{ extra_object|field_file_name|basename }}</a>
                  {% elif field.name == "converted_file"%}
                    <a href="{{ extra_object.converted_file|field_file_url }}" target="_blank">
                      {{ extra_object.converted_file|field_file_name|basename }}
                    </a>
                  {% else %}
                    {{ extra_object|field_value:field.name }}
                  {% endif %}
                </td>
              </tr>
            {% endif %}{% endif %}{% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

    </tbody>
  </table>
  </div>
  {% endif %}

  <div class="buttonHolder mb-5 mt-3 float-right">
    {% if update_view_name %}
      <div class="tooltip-wrapper{% if not scheme.current_round.is_open or object.state == "submitted" or object.status == "submitted" or object.status == "accepted" %} disabled{% endif %}"
          {% if object.state == "submitted" or object.status == "submitted" %}
            disabled
            data-title="{% trans 'The entry has been already submitted and cannot be modified.' %}"
          {% elif object.status == "accepted" %}
            disabled
            title="{% trans 'You cannot alter a nomination that has been submitted. If you feel a need to do this, please email pmscienceprizes@royalsociety.org.nz with a reason and we may be able to enable.' %}"
          {% endif %}
        >
        <a class="btn btn-primary{% if object.state == "submitted" or object.status == "submitted" or object.status == "accepted" %} disabled{% endif %}"
          href="{% url update_view_name pk=object.pk %}">{% trans update_button_name %}</a>
        </div>
    {% endif %}

    {% if export_button_view_name %}
      <a class="btn btn-primary" href="{% url export_button_view_name pk=object.pk %}">{% trans 'Export' %}</a>
    {% endif %}
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
        $('.tooltip-wrapper').tooltip(); // .tooltip({position: "bottom"});
    });
  </script>
{% endblock javascript %}
