{% extends "base.html" %}

{% load crispy_forms_tags static i18n django_bootstrap_breadcrumbs %}

{% block head_title %}{{ object }}{% endblock %}

{% block css %}
  <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" -->
  <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4/bootstrap-4.css" -->
  {{ form.media.css }}
  {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if view_name == "invitation-create" %}
    {% breadcrumb "Innovations" "invitation-list" %}
    {% breadcrumb "Innovation to Join" view_name %}
  {% elif view_name == "identity-verification" %}
    {% breadcrumb "Identity Verification" view_name %}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>
          {% block content_header %}
            {{ object|title }}
          {% endblock %}
        </h1>

        {% block more_info %}{% endblock %}

        {% if helper or form.helper %}
          {% if helper %}
            {% crispy form helper %}
          {% else %}
            {% crispy form form.helper %}
          {% endif %}
        {% else %}
          <form method="post">{% csrf_token %}
            {#% crispy form %#}
            {{ form|crispy }}
            {% if inlines %}
              <hr />
              {% for formset in inlines %}
                {% crispy formset helper %}
              {% endfor %}
            {% endif %}

            {% if object.id %}
              <input class="btn btn-primary" type="submit" value="{% trans 'Update' %}">
            {% else %}
              <input class="btn btn-primary" type="submit" value="{% trans 'Create' %}">
            {% endif %}
            <a href="{{ view.get_success_url }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
          </form>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js" integrity="sha256-HutwTOHexZPk7phZTEa350wtMYt10g21BKrAlsStcvw=" crossorigin="anonymous"></script>
  <script src="{% static 'js/project.js' %}"></script>
  <!-- JS -->
  {{ form.media.js }}
  <!-- script src="{% static 'admin/js/SelectFilter2.js' %}"></script>
  <script src="{% static 'admin/js/SelectFilter2.js' %}"></script -->
  <!-- script>
    $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script -->
    <!-- script>
      $(document).ready(function(){
      $("input[name='submit']").click(function(even) {
      // event.preventDefault();
      var thisForm = this.form;
      return Swal.fire({
      title: "{% trans 'Are you sure you wish to submit the form?' %}",
      text: "{% trans 'After the submitting this form You will not be able to revert the submission and make any changes!' %}",
      icon: 'warning',
      showCancelButton: true,
      // animation: false,
      // buttonsStyling: false,
      // confirmButtonColor: '#3085d6',
      // cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, submit it!'
      }).then((result) => {
      if (result.isConfirmed) {
      Swal.fire(
      "{% trans 'Submitted!' %}",
      "{% trans 'The firm has been submitted.' %}",
      'success'
      );
      // thisForm.submit();
      return true;
      } else {
      return false;
      }
      });
      });
      });
      </script -->

    {% endblock %}
