{% for field in form %}
    {% for error in field.errors %}
      {% if error != '' %}
        <div class="alert alert-danger">{{ error|safe }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
      {% endif %}
    {% endfor %}
{% endfor %}

{% for error in form.non_field_errors %}
  <div class="alert alert-danger">{{ error|safe }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
{% endfor %}
