{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}{{ object }}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>
        {{ object|title }}
      </h1>

      <form method="post">{% csrf_token %}
        {{ form|crispy }}
        {% if object.id %}
          <input class="btn btn-primary" type="submit" value="Update">
        {% else %}
          <input class="btn btn-primary" type="submit" value="Create">
        {% endif %}
        <a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
      </form>

    </div>
  </div>
</div>

{% endblock %}
