{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Apply for The Prime Minister’s Science Prize" %}{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="roundDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="roundDetailLabel">{% trans 'Round' %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="roundDetailBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        <!-- button type="button" class="btn btn-primary">Save changes</button -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% if not request.user.is_approved %}

    <div class="container">
      <div class="jumbotron">
        <h1>{% trans "Account Approval Pending" %}</h1>
        <p>{% blocktrans %}
        Your profile has not been approved, Admin is looking into your request.
        {% endblocktrans %}</p>
      </div>
    </div>

  {% else %}
<!-- h1>{% trans "Apply for The Prime Minister’s Science Prize" %}</h1 -->

  {% if draft_applications %}
    <div class="card text-white bg-success border-success mb-3">
      <h5 class="card-header" style="text-transform: uppercase;"><strong>
          {% trans 'Application Drafts' %}
        </strong></h5>
      {% for a in draft_applications %}
        {% if a and a.id %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'application' pk=a.id %}">{{ a }}</a></li>
          </ul>
        {% endif %}
      {% endfor %}
      <!-- div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div -->
    </div>
  {% endif %}

  {% if current_applications %}
    <div class="card text-white bg-info border-info mb-3">
      <h5 class="card-header" style="text-transform: uppercase;"><strong>
          {% trans 'Current Submitted Applications' %}
        </strong></h5>
      {% for a in current_applications %}
        {% if a and a.id %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'application' pk=a.id %}">{{ a }}</a></li>
          </ul>
        {% endif %}
      {% endfor %}
      <!-- div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div -->
    </div>
  {% endif %}

  {% for scheme in schemes %}

  <div class="row">
    <div class="col mb-3">
    <div class="card">
      <h5 class="card-header">
        {% trans "The Prime Minister's" %}
        <b style="text-transform: uppercase;">
          {% if scheme.current_round %}
            {{ scheme.current_round.title }}
          {% else %}
            {{ scheme.title }}
          {% endif %}
        </b>
      </h5>
      <div class="card-body">
        <p class="card-text">{{ scheme.description }}</p>
        {% if scheme.current_round %}
          <p class="card-text">{% trans 'Application period' %}:
            <strong {% if not scheme.current_round.is_open %}class="badge-danger"{% endif %}>
              {{ scheme.current_round.opens_on|date:"c" }}
              {% if scheme.current_round.closes_on %}
                - {{ scheme.current_round.closes_on|date:"c" }}
              {% endif %}
            </strong>
          </p>
        {% endif %}
        {% if request.user.can_apply %}
          <a href="{{ scheme.guidelines }}" target="_blank" class="btn btn-outline-primary" style="text-transform: uppercase;">
            {% trans "Read" %} <b>{% trans "More" %}</b>
          </a>
        {% else %}
          <button type="button" class="btn btn-outline-primary"
                                data-toggle="modal"
                                data-target="#roundDetail"
                                data-round-id="{{ scheme.current_round.id }}"
                                data-round-title="{{ scheme.current_round.title }}"
                                style="text-transform: uppercase;">
            {% trans "Show" %} <b>{% trans "Details" %}</b>
          </button>
        {% endif %}

        {% if scheme.current_round %}
          {% if request.user.can_apply %}
            {% if scheme.application and scheme.application.submitted_by == request.user or scheme.application and scheme.member_user == request.user %}
              <div class="tooltip-wrapper{% if scheme.application.state == 'submitted'%} disabled{% endif %}"
                 {% if scheme.application.state == 'submitted'%}
                   disabled
                   data-title="{% trans 'The application has been already submitted and cannot be modified' %}"
                 {% else %}
                   data-title="{% trans 'Modify your application and continue application process' %}"
                 {% endif %}
              >
            <a href="{% if scheme.application and scheme.application.id %}{% url 'application-update' pk=scheme.application.id %}{% else %}#{% endif %}"
                 class="btn btn-primary{% if scheme.application.state == 'submitted'%} disabled{% endif %}"
                 style="text-transform: uppercase;"
              > {% trans "Continue" %} <b>{% trans "Application" %}</b>
              </a>
              </div>
            {% else %}
              <div class="tooltip-wrapper{% if not scheme.current_round.is_open %} disabled{% endif %}"
                {% if scheme.current_round.id in panellist_of_rounds %}
                  disabled
                  data-title="{% trans 'You are a panellist of this round and cannot apply for it' %}"
                {% elif not scheme.current_round.is_open %}
                  disabled
                  {% if scheme.current_round.will_open %}
                    data-title="{% trans 'The application will be open on' %} {{ scheme.current_round.opens_on|date:'o-m-d'}}"
                  {% else %}
                  {% endif %}
                {% else %}
                   data-title="{% trans 'Start a new application' %}"
                {% endif %}
              >
                <a href="{% url 'application-create' round=scheme.current_round.id %}" class="btn btn-primary {% if not scheme.current_round.is_open or scheme.current_round.id in panellist_of_rounds %}disabled{% endif %}"
                  style="text-transform: uppercase;"
                  {% if not scheme.current_round.is_open %}disabled{% endif %}> {% trans "Apply" %} <b>{% trans "Now" %}</b>
                </a>
              </div>
            {% endif %}
              <div class="tooltip-wrapper{% if not scheme.current_round.is_open %} disabled{% endif %}"
                {% if not scheme.current_round.is_open %}
                  disabled
                  {% if scheme.current_round.will_open %}
                    data-title="{% trans 'The application will be open on' %} {{ scheme.current_round.opens_on|date:'o-m-d'}}"
                  {% else %}
                    data-title="{% trans 'The application period closed on' %} {{ scheme.current_round.closes_on|date:'o-m-d'}}"
                  {% endif %}
                {% endif %}
              >
                <a href="{% url 'nomination-create' round=scheme.current_round.id %}" class="btn btn-primary {% if not scheme.current_round.is_open %}disabled{% endif %}" style="text-transform: uppercase;"
                {% if not scheme.current_round.is_open %}disabled{% endif %}> {% trans "Nominate to" %} <b>{% trans "Apply" %}</b>
                </a>
              </div>

              {% if scheme.current_round.id in panellist_of_rounds %}
                {% if scheme.application %}
                  <a href="{% url 'application-evaluation' pk=scheme.application.id %}" class="btn btn-primary" style="text-transform: uppercase;">{% trans "Review" %} <b>{% trans "Application" %}</b></a>
                {% elif scheme.current_round %}
                  <a href="{% url 'round-application-list' round_id=scheme.current_round.id %}" class="btn btn-primary" style="text-transform: uppercase;">{% trans "Review" %} <b>{% trans "Applications" %}</b></a>
                {% endif %}
              {% endif %}

          {% else %}
            {% if request.user.is_superuser %}
              <a href="{% url 'admin:portal_round_change' object_id=scheme.current_round.id %}" class="btn btn-primary" style="text-transform: uppercase;"
                > {% trans "Edit" %} <b>{% trans "Round" %}</b>
              </a>
            {% endif %}
          {% endif %}

          {% if request.user.is_staff %}
            <a href="{% url 'panellist-invite' round=scheme.current_round.id %}" class="btn btn-primary" style="text-transform: uppercase;"
              > {% trans "Invite" %}
              <b>{% trans "Panellist" %}</b>
            </a>
          {% endif %}

          {% if request.user.is_staff %}
            <a href="{% url 'round-coi-list' round=scheme.current_round.id %}" class="btn btn-outline-primary" style="text-transform: uppercase;"

              > {% trans "Conflicts of" %}
              <b>{% trans "Interest" %}</b>
            </a>
          {% endif %}

        {% else %}
          <span>
            <strong>
              {% trans 'Scheme has no round available to apply for' %}
            </strong>
          </span>
        {% endif %}
      </div>
    </div>
    </div>
  </div>

  {% endfor %}

  {% endif %}
</div>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
        $("#roundDetail").on("show.bs.modal", function(event){
            $("#roundDetailLabel").html(event.relatedTarget.dataset.roundTitle);
            $("#roundDetailBody").load("round/" + event.relatedTarget.dataset.roundId);
            // $(this).find(".modal-body").load("round/" + event.relatedTarget.dataset.roundId);
        });
        $('.tooltip-wrapper').tooltip(); // .tooltip({position: "bottom"});
    });
  </script>
{% endblock javascript %}


