{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Apply for The Prime Minister’s Science Prize" %}{% endblock title %}

{% block content %}
<div class="container">
  {% if not request.user.is_approved %}

    <div class="container">
      <div class="jumbotron">
        <h1>{% trans "Account Approval Pending" %}</h1>
        <p>{% blocktrans %}
        Your profile has not been approved, Admin is looking into your request.
        {% endblocktrans %}</p>
      </div>
    </div>

  {% else %}
<!-- h1>{% trans "Apply for The Prime Minister’s Science Prize" %}</h1 -->

  {% if draft_applications %}
    <div class="card text-white bg-success border-success mb-3">
      <h5 class="card-header" style="text-transform: uppercase;"><strong>
          {% trans 'Application Drafts' %}
        </strong></h5>
      {% for a in draft_applications %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="{% url 'application' pk=a.id %}">{{ a }}</a></li>
        </ul>
      {% endfor %}
      <!-- div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div -->
    </div>
  {% endif %}

  {% if current_applications %}
    <div class="card text-white bg-info border-info mb-3">
      <h5 class="card-header" style="text-transform: uppercase;"><strong>
          {% trans 'Current Submitted Applications' %}
        </strong></h5>
      {% for a in current_applications %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="{% url 'application' pk=a.id %}">{{ a }}</a></li>
        </ul>
      {% endfor %}
      <!-- div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div -->
    </div>
  {% endif %}

  {% for scheme in schemes %}

  <div class="row">
    <dic class="col mb-3">
    <div class="card">
      <h5 class="card-header">
        {% trans "The Prime Minister's" %}
        <b style="text-transform: uppercase;">{{ scheme.title }}</b>
      </h5>
      <div class="card-body">
        <p class="card-text">{{ scheme.description }}</p>
        {% if scheme.current_round %}
          <p class="card-text">{% trans 'Application period' %}:
          <strong>
            {{ scheme.current_round.opens_on|date:"c" }}
            {% if scheme.current_round.closes_on %}
              - {{ scheme.current_round.closes_on|date:"c" }}
            {% endif %}
          </strong>
          </p>
        {% endif %}
        <a href="{{ scheme.guidelines }}" target="_blank" class="btn btn-outline-primary" style="text-transform: uppercase;">
          {% trans "Read" %} <b>{% trans "More" %}</b>
        </a>
        {% if scheme.current_round %}
          {% if request.can_apply %}
            {% if scheme.application and scheme.application.submitted_by == request.user or scheme.application and scheme.member_user == request.user %}
              <a href="{% url 'application-update' pk=scheme.application.id %}" class="btn btn-primary"
                style="text-transform: uppercase;"> {% trans "Continue" %} <b>{% trans "Application" %}</b>
              </a>
            {% else %}
              <a href="{% url 'application-create' round=scheme.current_round.id %}" class="btn btn-primary {% if not scheme.current_round.is_open %}disabled{% endif %}"
                style="text-transform: uppercase;"
                {% if not scheme.current_round.is_open %}
                  disabled
                  data-toggle="tooltip"
                  title="{% trans 'The application will be open on' %} {{ scheme.current_round.opens_on|date:'o-m-d'}}"
                {% endif %}> {% trans "Apply" %} <b>{% trans "Now" %}</b>
              </a>
            {% endif %}
            <a href="{% url 'nomination-create' round=scheme.current_round.id %}" class="btn btn-primary" style="text-transform: uppercase;"
              > {% trans "Nominate to" %} <b>{% trans "Apply" %}</b>
            </a>
          {% else %}
            {% if request.user.is_superuser %}
              <a href="{% url 'admin:portal_round_change' object_id=scheme.current_round.id %}" class="btn btn-primary" style="text-transform: uppercase;"
                > {% trans "Edit" %} <b>{% trans "Round" %}</b>
              </a>
            {% endif %}
          {% endif %}
          {% if request.user.is_staff %}
            <a href="{% url 'panellist-invite' round=scheme.current_round.id %}" class="btn btn-primary" style="text-transform: uppercase;"
              > {% trans "Invite" %}
              <b>{% trans "Panellist" %}</b>
            </a>
          {% endif %}

        {% endif %}
      </div>
    </dic>
    </div>
  </div>

  {% endfor %}

  {% endif %}
</div>

{% endblock content %}
