{% extends "form.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block sidebar %}{% include 'sidebar.html' with category="nominations" %}{% endblock sidebar %}

{% block content_header %}
  {{ round|title }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Nominations" "nominations" %}
  {% if object.status == "submitted" %}
    {% breadcrumb "Submitted" "nominations-submitted" %}
  {% elif not object or object.status == "draft" or object.status == "new" %}
    {% breadcrumb "Draft" "nominations-draft" %}
  {% endif %}
  {% if object %}
    {% breadcrumb object "nomination-update" pk=object.pk %}
  {% elif round %}
    {% breadcrumb round "nomination-create" round=round.pk %}
  {% endif %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <!-- Privacy Statement Modal -->
  <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog"
    aria-labelledby="privacy-statement-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="privacy-statement-title">{% trans 'Confirmation' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% blocktranslate %}
            All information in this report is true to the best of my knowledge.
            <br />
            <br />
            I acknowledge that I may be contacted to provide further information in relation to this prize application.
          {% endblocktranslate %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
            {% trans 'Cancel' %}
          </button>
          <a href="#" id="submit-button" class="btn btn-primary success" data-dismiss="modal">
            {% trans 'Submit' %}
          </a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% if object and object.status != "accepted" or not object %}
  <script>
    $(document).ready(function(){
      $('#button-id-submit_button').click(function() {
        if (this.form.checkValidity()) $('#confirm-submit').modal('show');
        else this.form.reportValidity();
      });
      $('#submit-button').click(function(){
        /* when the submit button in the modal is clicked, submit the form */
        var form = document.getElementById('nomination-form');
        if (form.checkValidity()) {
          form.action.value = "submit";
          form.submit();
        }
        else form.reportValidity();
      });
    });
  </script>
  {% endif %}
{% endblock %}
