{% extends 'detail.html' %}

{% load i18n crispy_forms_tags tags django_bootstrap_breadcrumbs %}
{% block sidebar %}{% include 'sidebar.html' with category="applications" %}{% endblock sidebar %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Nominations" "nominations" %}
  {% if object.state == "draft" or object.state == "new" %}
    {% breadcrumb "Draft" "nominations-draft" %}
  {% elif object.state == "submitted" %}
    {% breadcrumb "Submitted" "nominations-submitted" %}
  {% endif %}

  {% if object %}
    {% breadcrumb object "nomination-detail" object.pk %}
  {% endif %}
{% endblock %}

{% block content %}

  {% if start_applying %}
    <a class="btn btn-primary" href="{{ start_applying }}">
      {% trans 'Start Prize Application' %}
    </a>
  {% endif %}

  {% if form %}
    {% block css %}
      {{ form.media.css }}
      {{ block.super }}
    {% endblock %}
    {% crispy form %}
    {% block javascript %}
      {{ block.super }}
      {{ form.media.js }}
    {% endblock %}
  {% endif %}


  {{ block.super }}

{% endblock %}
