{% extends "table.html" %}

{% load static i18n django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {% breadcrumb_raw_safe '<i class="fa fa-fw fa-home"></i>' "/" %}
  {% breadcrumb "Nominations" "nominations" %}
  {% if state == "draft" %}
    {% breadcrumb "Draft" "nominations-draft" %}
  {% elif state == "submitted" %}
    {% breadcrumb "Submitted" "nominations-submitted" %}
  {% endif %}
{% endblock %}

{% block sidebar %}{% include 'sidebar.html' with category="nominations" %}{% endblock sidebar %}
