{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block css %}
  {{ formset.media.css }}
  {{ block.super }}
{% endblock %}

{% load static i18n %}
{% block sidebar %}{% include 'sidebar.html' with category="applications" %}{% endblock sidebar %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Panellists" "panellist-invite" %}
{% endblock %}

{% block content %}
  <h2 data-toggle="tooltip" title="{% trans 'The panellist of the round' %}">
    {{ round|title }}
  </h2>
  {% crispy formset helper %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/project.js' %}"></script>
  {{ block.super }}
  {{ formset.media.js }}
{% endblock %}
