{% extends 'base.html' %}

{% load static i18n %}

{% block title %}User: {{ object.username }}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with categrory="profile" %}{% endblock sidebar %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}

  {% if progress %}
  <div class="progress mb-3">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: {{ progress }}%"
    >
    </div>
  </div>
  {% endif %}

  {% block section %}

    <table class="table table-bordered searchable">
      <tbody>
        <tr>
          <th style="width: 21%; min-width: 160px; max-width: 180px;">{% trans "Gender" %}</th>
          <td>{{ object.get_gender_display|default_if_none:"" }}</td>
        </tr>
        <tr>
          <th>{% 'Date of Birth' %}</th>
          <td>{{ object.date_of_birth|date:"Y-m-d"|default_if_none:"" }}</td>
        </tr>
        <tr>
          <th>{% 'Ethnicity' %}</th>
          <td>
            <ul>
              {% for o in object.ethnicities.all %}
                <li>
                  {{ o |default_if_none:"" }}
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th>{% 'Education Level' %}</th>
          <td>{{ object.get_education_level_display|default_if_none:"" }}</td>
        </tr>
        <tr>
          <th>{% 'Employment Status' %}</th>
          <td>{{ object.get_employment_status_display|default_if_none:"" }}</td>
        </tr>
        <tr>
          <th>{% 'Primary Language Spoken' %}</th>
          <td>{{ object.get_primary_language_spoken_display|default_if_none:"" }}</td>
        </tr>

        <tr>
          <th>{% trans 'Languages Spoken' %}</th>
          <td>
            <ul>
              {% for o in object.languages_spoken.all %}
                <li>
                  {{ o | default_if_none:"" }}
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>

        <tr>
          <th>{% trans 'Iwi Groups' %}</th>
          <td>
            <ul>
              {% for o in object.iwi_groups.all %}
                <li>
                  {{ o | default_if_none:"" }}
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>

      </tbody>
    </table>
    <form method="post">
      <a class="btn btn-primary" href="{% url 'profile-update' %}">{% trans 'Edit' %}</a>
      {% if object.user == request.user %}
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% trans 'My Info' %}</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">{% trans 'E-Mail Addresses' %}</a>
        <a class="btn btn-primary" href="{% url 'socialaccount_connections' %}" role="button">{% trans 'Linked Accounts' %}</a>
        <form method="POST">
          <input type="Submit" class="btn btn-orcid"
              name="load_from_orcid" value="{% trans 'Import From ORCID' %}"
              title="{% trans 'Fetch all profile data from ORCID' %}"
              data-toggle="tooltip"
          />{% csrf_token %}
        </form>
      {% endif %}
    </form>

  {% endblock %}

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
  <script>
    // $('.yearpicker').datepicker({format: "yyyy", startView: 2});
    function setDatePickers(el) {
      el.find(".yearpicker").datepicker({
        format: "yyyy",
        // format: "yyyyy",
        startDate: '1960',
        endDate: '2040',
        startView: 2,
        minViewMode: 2,
        clearBtn: true,
        autoclose: true
      });
      el.find(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        startDate: '1960-01-01',
        endDate: '2040-12-31',
        startView: 2,
        clearBtn: true,
        autoclose: true
      });
    }
    setDatePickers($(document.documentElement));
  </script>
{% endblock %}
