{% extends "profile.html" %}

{% load crispy_forms_tags static i18n %}

{% block head_title %}{{ object }}{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block section %}

    <!-- Privacy Statement Modal -->
    <div class="modal fade" id="privacy-policy" tabindex="-1" role="dialog"
      aria-labelledby="privacy-policy-title" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="privacy-policy-title">{% trans 'Privace Policy' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% blocktranslate %}
            ...
              Privicy Policy placeholder...
            ...
            {% endblocktranslate %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              {% trans 'Close' %}
            </button>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-4">

      <form method="post">{% csrf_token %}
        <div class="box-gray">
          {{ user_form |crispy }}
        </div>
        <hr />
        {{ form|crispy }}
        {% if progress %}
          <input type="submit" style="float:right" class="btn btn-primary float-right" value="{% trans 'Next' %} &raquo;">
        {% else %}
          {% if object.id %}
            <input class="btn btn-primary" type="submit" name="update" alue="{% trans 'Update' %}">
          {% else %}
            <input class="btn btn-primary" type="submit" name="save" value="{% trans 'Create' %}">
          {% endif %}
          <a href="{{ view.get_success_url }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
        {% endif %}
      </form>

    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <!-- JS -->
  {{ form.media.js }}
  <!-- script src="{% static 'admin/js/SelectFilter2.js' %}"></script>
  <script src="{% static 'admin/js/SelectFilter2.js' %}"></script -->

{% endblock %}
