{% extends 'profile.html' %}

{% load static i18n %}
{% block sidebar %}{% include 'sidebar.html' with categrory="profile" %}{% endblock sidebar %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
  {% block section %}

    <div>
      <p style="border-radius: 5px; border-radius: 5px; height: 25px; color: white;"
         class="progress-bar">{% trans 'User Details' %}</p>
    </div>

    <div>
      <div class="row">
        <div class="col-sm" style="max-width: 14rem; min-with: 10rem;">
          <img class="mb-2" style="max-width: 10rem;" src="{{ image_url }}">
        </div>
        <div class="col-sm-9">
          <table class=" table searchable no-border">
            <tbody>
              <tr>
                <td><b> {% trans 'Name' %}: </b></td>
                <td>{{ user_data.full_name|default_if_none:"" }}</td>
              </tr>
              <tr>
                <td><b> {% trans 'ORCiD iD' %}: </b></td>
                <td>{{ user_data.orcid|default_if_none:"" }}</td>
              </tr>
              <tr>
                <td><b> {% trans 'Username' %}: </b></td>
                <td>{{ user_data.username|default_if_none:"" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% if qualification %}
    <div>
      <p style="border-radius: 5px; border-radius: 5px; height: 25px; color: white;"
         class="progress-bar">{% trans 'Organisation Affiliations' %}</p>
    </div>
    <table class=" table searchable no-border">
      <tbody>
      <tr>
        <td><b> {% trans 'Organisation' %} </b></td>
        <td><b> {% trans 'Role' %}</b></td>
        <td><b> {% trans 'Start Date' %}</b></td>
        <td><b> {% trans 'End Date' %}</b></td>
      </tr>

      {% for o in qualification %}
        <tr>
           <td> {{ o.org|default_if_none:"" }}</td>
           <td> {{ o.role|default_if_none:"" }}</td>
           <td> {{ o.start_date|default_if_none:"" }}</td>
           <td> {{ o.end_date|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% if external_id_records %}
    <div>
      <p style="border-radius: 5px; border-radius: 5px; height: 25px; color: white;"
         class="progress-bar">{% trans 'External IDs' %}</p>
    </div>
    <table class="table no-border">
      <tbody>
      <tr>
        <td><b>{% trans 'Type' %}</b></td>
        <td><b>{% trans 'Value' %}</b></td>
      </tr>

      {% for o in external_id_records %}
        <tr>
           <td> {{ o.code|default_if_none:"" }}</td>
           <td> {{ o.value|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

  {% if academic_records %}
  <div>
      <p style="border-radius: 5px; border-radius: 5px; height: 25px; color: white;"
         class="progress-bar">{% trans 'Academic Records' %}</p>
    </div>
    <table class="table no-border">
      <tbody>
      <tr>
        <td><b>{% trans 'Start Year' %}</b></td>
        <td><b>{% trans 'Qualification' %}</b></td>
        <td><b>{% trans 'Conferred On' %}</b></td>
        <td><b>{% trans 'Discipline' %}</b></td>
        <td><b>{% trans 'Awarded By' %}</b></td>
        <td><b>{% trans 'Research Topic' %}</b></td>

      </tr>
      {% for o in academic_records %}
        <tr>
           <td> {{ o.start_year|default_if_none:"" }}</td>
           <td> {{ o.qualification|default_if_none:"" }}</td>
           <td> {{ o.conferred_on|default_if_none:"" }}</td>
           <td> {{ o.discipline|default_if_none:"" }}</td>
           <td> {{ o.awarded_by|default_if_none:"" }}</td>
           <td> {{ o.research_topic|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% if recognitions %}
    <div>
      <p style="border-radius: 5px; border-radius: 5px; height: 25px; color: white;"
         class="progress-bar">{% trans 'Prizes and/or Medals' %}</p>
    </div>
    <table class="table no-border">
      <tbody>
      <tr>
        <td><b>{% trans 'Year Of Recognition' %}</b></td>
        <td><b>{% trans 'Award' %}</b></td>
        <td><b>{% trans 'Awarded By' %}</b></td>
        <td><b>{% trans 'Amount' %}</b></td>
        <td><b>{% trans 'Currency code' %}</b></td>
      </tr>

      {% for o in recognitions %}
        <tr>
           <td> {{ o.recognized_in|default_if_none:"" }}</td>
           <td> {{ o.award|default_if_none:"" }}</td>
           <td> {{ o.awarded_by|default_if_none:"" }}</td>
           <td> {{ o.amount|default_if_none:"" }}</td>
           <td> {{ o.currency|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% if professional_records %}
    <div>
      <p style="border-radius: 5px; border-radius: 5px; height: 25px; color: white;"
         class="progress-bar">{% trans 'Professional Bodies' %}</p>
    </div>
    <table class="table no-border">
      <tbody>
      <tr>
        <td><b>{% trans 'Organisation' %}</b></td>
        <td><b>{% trans 'Position' %}</b></td>
        <td><b>{% trans 'Start Date' %}</b></td>
        <td><b>{% trans 'End Date' %}</b></td>
      </tr>

      {% for o in professional_records %}
        <tr>
           <td> {{ o.org|default_if_none:"" }}</td>
           <td> {{ o.role|default_if_none:"" }}</td>
           <td> {{ o.start_date|default_if_none:"" }}</td>
           <td> {{ o.end_date|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <div>
      <p style="border-radius: 5px; border-radius: 5px; height: 25px; color: white;"
         class="progress-bar"/>
    </div>
    {% if approval_url %}
      <a class="btn btn-primary" href="{{ approval_url }}" role="button">{% trans 'Approve' %}</a>
    {% endif %}
  {% endblock %}

{% endblock %}
