{% extends 'profile.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block css %}
  {{ formset.media.css }}
  {{ block.super }}
{% endblock %}


{% block section %}
  <div class="jumbotron">
    {% with request.resolver_match.view_name as view_name %}
      {% if view_name == "profile-employments" %}
        {% blocktrans %}
          TODO: add some guidlines to the section
        {% endblocktrans %}
      {% elif view_name == "profile-career-stages" %}
        {% blocktrans %}
          TODO: add some guidlines to the section
        {% endblocktrans %}
      {% elif view_name == "profile-external-ids" %}
        {% blocktrans %}
          TODO: add some guidlines to the section
        {% endblocktrans %}
      {% elif view_name == "profile-cvs" %}
        {% blocktrans %}
          TODO: add some guidlines to the section
        {% endblocktrans %}
      {% elif view_name == "profile-academic-records" %}
        {% blocktrans %}
          TODO: add some guidlines to the section
        {% endblocktrans %}
      {% elif view_name == "profile-recognitions" %}
        {% blocktrans %}
          TODO: add some guidlines to the section
        {% endblocktrans %}
      {% elif view_name == "profile-professional-records" %}
        {% blocktrans %}
          TODO: add some guidlines to the section
        {% endblocktrans %}
      {% elif view_name == "profile-career-stages" %}
        {% blocktrans %}
          TODO: add some guidlines to the section
        {% endblocktrans %}
      {% endif %}
    {% endwith %}
  </div>
  {% crispy formset helper %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ formset.media.js }}
  <!-- script>
    /* $('#add_more').click(function() {
      var form_idx = $('#id_form-TOTAL_FORMS').val();
      var el = $('<tr>' + $('#empty_form').html().replace(/__prefix__/g, form_idx) + '</tr>') ;
      setDatePickers(el);
      $('#form_set').append(el);
      $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    }); */
    /* $(".modelselect2").select2({ */
    /*   width: null // remove calculated with of the select2 span elements */
    /* }); */
  </script -->
{% endblock %}
