{% extends 'base.html' %}

{% block content %}
  {{ object }}

  <h1>1195</h1>
  <table class="table table-bordered searchable">
    <tbody>
      <tr>
        <th style="width: 20%; min-width: 120px; max-width: 140px;">Sex</th>
        <td>{{ object.sex }}</td>
      </tr>
      <tr>
        <th>Year of birth</th>
        <td>{{ object.year_of_birth }}</td>
      </tr>
      <tr>
        <th>Ethnicity</th>
        <td>{{ object.ethnicity }}</td>
      </tr>
    </tbody>
  </table>

{% endblock %}

