{% extends 'base.html' %}

{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-3">

      <div class="card mb-2">
        <div class="card-header">
          <a href="{% url 'my-profile' %}" id="profile">
            Profile
          </a>
        </div>
        <div class="card-body">

          <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile-career-stages' %}" id="profile-career-stages">Career Stages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile-external-ids' %}" id="profile-external-ids">External IDs</a>
              <li class="nav-item">
                <a class="nav-link" href="#">Section #2</a>
              <li class="nav-item">
                <a class="nav-link" href="#">Section #3</a>
              <li class="nav-item">
                <a class="nav-link" href="#">Section #4</a>
              <li class="nav-item">
                <a class="nav-link" href="#">Section #5</a>
              </li>
          </ul>

        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header">
          <a href="{% url 'my-profile' %}">
            Account
          </a>
        </div>
        <div class="card-body">

          <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'socialaccount_connections' %}">Linked Accounts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link ...</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link ...</a>
              </li>
          </ul>

        </div>
      </div>

    </div>

    <div class="col-md-9">

      {% block section %}

      <table class="table table-bordered searchable">
        <tbody>
          <tr>
            <th style="width: 21%; min-width: 160px; max-width: 180px;">Sex</th>
            <td>{{ object.get_sex_display|default_if_none:"" }}</td>
          </tr>
          <tr>
            <th>Year of Birth</th>
            <td>{{ object.year_of_birth|default_if_none:"" }}</td>
          </tr>
          <tr>
            <th>Ethnicity</th>
            <td>
              <ul>
              {% for o in object.ethnicities.all %}
                <li>
                  {{ o |default_if_none:"" }}
                </li>
              {% endfor %}
              </ul>
            </td>
          </tr>
          <tr>
            <th>Education Level</th>
            <td>{{ object.get_education_level_display|default_if_none:"" }}</td>
          </tr>
          <tr>
            <th>Employment Status</th>
            <td>{{ object.get_employment_status_display|default_if_none:"" }}</td>
          </tr>
          <tr>
            <th>Primary Language Spoken</th>
            <td>{{ object.get_primary_language_spoken_display|default_if_none:"" }}</td>
          </tr>

          <tr>
            <th>Lanuages Spoken</th>
            <td>
              <ul>
              {% for o in object.languages_spoken.all %}
                <li>
                  {{ o | default_if_none:"" }}
                </li>
              {% endfor %}
              </ul>
            </td>
          </tr>

          <tr>
            <th>Iwi Groups</th>
            <td>
              <ul>
              {% for o in object.iwi_groups.all %}
                <li>
                  {{ o | default_if_none:"" }}
                </li>
              {% endfor %}
              </ul>
            </td>
          </tr>

        </tbody>
      </table>

      <a class="btn btn-primary" href="{% url 'profile-update' pk=object.pk %}">Edit</a>
      {% if object.user == request.user %}
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
        <a class="btn btn-primary" href="{% url 'socialaccount_connections' %}" role="button">Linked Accounts</a>
      {% endif %}

      {% endblock %}

    </div>
  </div>

{% endblock %}
