{% extends 'profile.html' %}
{% load static i18n django_bootstrap_breadcrumbs %}

{% block title %}{% trans 'Protection Patterns' %}{% endblock %}

{% block css %}
  {{block.super }}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Protection Patterns" "profile-protection-patterns" %}
{% endblock %}

{% block section %}
<div class="jumbotron">
  {% blocktrans %}
    Protection Pattern settings are used by us to determine what we can and can't share about you.<br>
    Note these options come from the New Zealand Research Information System (NZRIS) and control how, and whether, your data will appear in NZRIS.<br>
    Each option has tooltips to explain what they control.  If you wish any protection to expire, please state when protection can be removed.
  {% endblocktrans %}
</div>
  <form method="post" style="max-width: 440px;" id="pattern-form">
    {% csrf_token %}
    <div class="checkbox">
      <input
        type="checkbox" {% if not profile.has_protection_patterns %}checked{% endif %}
        data-toggle="toggle"
        name="no_protection_needed"
        id="no_protection_needed"
        data-on="{% trans 'On' %}"
        data-off="{% trans 'Off' %}" >
      <label for="no_protection_needed">
        {% trans 'No Protection needed' %}
      </label>
    </div>
    <hr />
    <table class="table pb-3" id="patterns">
      <thead>
        <tr>
          <th>{% trans 'Protection needed' %}</th>
          <th>{% trans 'Expires on date' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for pp in protection_patterns %}
          <tr>
            <td>
              <div class="input-group">
                <div class="form-check">
                  <input type="hidden" value="{{ pp.code }}" name="pp_code">
                  <input type="checkbox"
                         class="form-check-input"
                         id="ppEnabled-{{ pp.code }}"
                         name="pp_enabled:{{ pp.code }}"
                         {% if pp.profile %}checked{% endif %}
                         {% if pp.comment %}data-toggle="tooltip" title="{{ pp.comment }}"{% endif %}
                  >
                  <label class="form-check-label"
                         for="ppEnabled-{{ pp.code }}"
                         {% if pp.comment %}data-toggle="tooltip" title="{{ pp.comment }}"{% endif %}
                  >{{ pp.description }}</label>
                </div>
              </div>
            </td>
            <td>
              <div class="input-group" style="max-width: 100px;">
                <input type="text"
                       value="{{ pp.expires_on|date:"Y-m-d"|default_if_none:"" }}"
                       name="expires_on" class="form-control datepicker dateinput form-control"
                >
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input class="btn btn-primary float-right" type="submit" name="save" value="{% trans 'Save' %}">
    </from>
    {% endblock %}

    {% block javascript %}
      {{block.super }}
      <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
      <script>
        $(function() {
          {% if not profile.has_protection_patterns %}$("#patterns input").prop('disabled', true);{% endif %}
          $('#no_protection_needed').change(function() {
            var is_disabled = ($(this).prop('checked'));
            $("#patterns input").prop('disabled', is_disabled);
            if (is_disabled) {
              // $("#pattern-form").submit();
              $.ajax({
                  type     : "POST",
                  url      : "{% url 'disable-profile-protection-patterns' %}",
                  cache    : false,
              });
            } else {
              $('#ppEnabled-5').prop('checked', true);
              $('#ppEnabled-6').prop('checked', true);
            }
          })
        })
      </script>
    {% endblock %}
