{% extends "base.html" %}

{% load static i18n django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Reviews" "reviews" %}
  {% if state == "draft" %}
    {% breadcrumb "Draft" "reviews-draft" %}
  {% elif state == "submitted" %}
    {% breadcrumb "Submitted" "reviews-submitted" %}
  {% endif %}
  {% if round %}
    {% if state %}
      {% breadcrumb round.title "round-application-list-with-state" round_id=round.pk state=state %}
    {% else %}
      {% breadcrumb round.title "round-application-list" round_id=round.pk %}
    {% endif %}
  {% endif %}
  {% if application %}
    {% if state %}
      {% breadcrumb application "round-application-reviews-list" round_id=round.pk application_id=application.pk %}
    {% else %}
      {% breadcrumb application "round-application-reviews-list-with-state" round_id=round.pk state=state application_id=application.pk %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block sidebar %}{% include 'sidebar.html' with category="reviews" %}{% endblock sidebar %}

{% block content %}
  {% if round %}
    <h2>
      {{ round.title|default:round.scheme.title }}
    </h2>
  {% elif application %}
    <h2>
      {{ application.number }}:
      {{ application.title|default:application.round.title }}
    </h2>
  {% endif %}

  {% if round and is_panellist %}
    <p>
    <a class="btn btn-primary"
       data-toggle="tooltip"
       title="{% trans 'Submit Conflict of Interest Statements in batch for the whole round' %}"
       href="{% url 'round-coi' round=round.pk %}"
       >
       {% trans 'Conflict of Interest Statements' %}
    </a>
    </p>
  {% endif %}

  {% render_table table %}
{% endblock %}
