{% extends "base.html" %}
{% load tags i18n %}

{% block head_title %}{{ round|title }}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with categrory="reviews" %}{% endblock sidebar %}

{% block content %}

  <h1>{{ round|title }}</h1>

  <ul class="nav nav-tabs" id="panellist-tab" role="tablist">
    {% for panellist in data %}
      <li class="nav-item">
        <a
          id="panellist-{{ panellist.id }}-tab"
          data-toggle="tab"
          href="#panellist-{{ panellist.id }}"
          role="tab"
          aria-controls="{{ panellist.full_name }}"
          {% if not selected_panellist_id %}
            aria-selected="{% if forloop.first %}true{% else %}flase{% endif %}"
            class="nav-link{% if forloop.first %} active{% endif %}"
          {% else %}
            aria-selected="{% if selected_panellist_id == panellis.id %}true{% else %}flase{% endif %}"
            class="nav-link{% if selected_panellist_id == panellis.id %} active{% endif %}"
          {% endif %}
        >
          {{ panellist.full_name }}
        </a>
      </li>
    {% endfor %}
  </ul>

<div class="tab-content" id="panellist-tab-content">
  {% for panellist in data %}
    <div
      {% if not selected_panellist_id %}
        class="tab-pane fade{% if forloop.first %} show active{% endif %}"
      {% else %}
        class="tab-pane fade{% if selected_panellist_id == panellis.id %} show active{% endif %}"
      {% endif %}
      id="panellist-{{ panellist.id }}" role="tabpanel"
      aria-labelledby="panellist-{{ panellist.id }}-tab">

      <table class="table table-striped table-bordered">

        <thead>
          <tr>
            <th></th>
            <th>{% trans 'Total' %}</th>

            {% for c in criteria %}
              <th>{{ c.definition }}</th>
            {% endfor %}

          </tr>
        </thead>

        <tbody>
          {% for evaluation in panellist.evaluations.all %}
            <tr>

              <td>
                {{ evaluation.application.number }}
              </td>

              <td>
                {{ evaluation.total }}
              </td>

              {% for score in evaluation.scores.all|all_scores:criteria %}
                <td>
                  {{ score.value }}
                </td>
              {% endfor %}

            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  {% endfor %}
</div>

<script>
  $(document).ready(function(){
    $('#panellist-tab a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
  });
</script>

{% endblock %}
