{% extends "base.html" %}
{% load tags i18n %}

{% block head_title %}{{ round|title }}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with categrory="reviews" %}{% endblock sidebar %}

{% block content %}

  <h1>{{ round|title }}</h1>

  <ul class="nav nav-tabs" id="panellist-tab" role="tablist">
    {% for panellist in round.scores %}
      <li class="nav-item">
        <a
          id="panellist-{{ panellist.id }}-tab"
          data-toggle="tab"
          href="#panellist-{{ panellist.id }}"
          role="tab"
          aria-controls="{{ panellist.full_name }}"
          {% if not selected_panellist_id %}
            aria-selected="{% if forloop.first %}true{% else %}flase{% endif %}"
            class="nav-link{% if forloop.first %} active{% endif %}"
          {% else %}
            aria-selected="{% if selected_panellist_id == panellis.id %}true{% else %}flase{% endif %}"
            class="nav-link{% if selected_panellist_id == panellis.id %} active{% endif %}"
          {% endif %}
        >
          {{ panellist.full_name }}
        </a>
      </li>
    {% endfor %}
      <li class="nav-item">
        <a
          id="panellist-total-tab"
          data-toggle="tab"
          href="#panellist-total"
          role="tab"
          aria-controls="{% trans 'Total' %}"
          aria-selected="{% if selected_panellist_id == 'total' %}true{% else %}flase{% endif %}"
          class="nav-link{% if selected_panellist_id == 'total' %} active{% endif %}"
        >
          {% trans 'Total' %}
        </a>
      </li>
  </ul>

<div class="tab-content" id="panellist-tab-content">
  {% for panellist in round.scores %}
    <div
      {% if not selected_panellist_id %}
        class="tab-pane fade{% if forloop.first %} show active{% endif %}"
      {% else %}
        class="tab-pane fade{% if selected_panellist_id == panellis.id %} show active{% endif %}"
      {% endif %}
      id="panellist-{{ panellist.id }}" role="tabpanel"
      aria-labelledby="panellist-{{ panellist.id }}-tab">

      <table class="table table-striped table-bordered">

        <thead>
          <tr>
            <th>{% trans 'Application' %}</th>
            <th>{% trans 'Lead' %}</th>
            <th>{% trans 'Overall Comment' %}</th>
            <th>{% trans 'Total' %}</th>

            {% for c in criteria %}
              <th>{{ c.definition }}</th>
              <th>{{ c.definition }} {% trans 'Comment' %}</th>
            {% endfor %}

          </tr>
        </thead>

        <tbody>
          {% for evaluation in panellist.evaluations.all %}
            <tr>

              <td>
                {{ evaluation.application.number }}
              </td>

              <td>
                {{ evaluation.application|person_with_email }}
              </td>

              <td>
                {{ evaluation.comment }}
              </td>

              <td class="text-right">
                {{ evaluation.total }}
              </td>

              {% for score in evaluation.scores.all|all_scores:criteria %}
                <td class="text-right">
                  {{ score.value }}
                </td>
                <td>
                  {{ score.comment|safe }}
                </td>
              {% endfor %}

            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  {% endfor %}

  <div
    class="tab-pane fade{% if selected_panellist_id == 'total' %} show active{% endif %}"
    id="panellist-total" role="tabpanel"
    aria-labelledby="panellist-total-tab">

    <table class="table table-striped table-bordered">

      <thead>
        <tr>
          <th>{% trans 'Application' %}</th>
          <th>{% trans 'Lead' %}</th>
          <th>{% trans 'Total Score' %}</th>
        </tr>
      </thead>

      <tbody>
        {% for t in round.avg_scores %}
          <tr>
            <td> {{ t.number }} </td>
            <td> {{ t|person_with_email }} </td>
            <td class="text-right"> {{ t.total|floatformat }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>

<a class="btn btn-primary"
  href="{% url 'scores-export' round=round.id %}?type=xls"
  role="button"
  data-toggle="tooltip" title="{% trans 'Export in Microsoft Excel 2003 format' %}">
  {% trans 'Export' %} <strong>XLS</strong>
</a>
<a class="btn btn-primary"
   href="{% url 'scores-export' round=round.id %}?type=xlsx"
   role="button"
   data-toggle="tooltip" title="{% trans 'Export in Microsoft Excel 2007+ format' %}">
  {% trans 'Export' %} <strong>XLSX</strong>
</a>
<a class="btn btn-primary"
   href="{% url 'scores-export' round=round.id %}?type=ods"
   role="button"
   data-toggle="tooltip" title="{% trans 'Export in ODF Spreadsheet format' %}">
  {% trans 'Export' %} <strong>ODS</strong>
</a>

<script>
  $(document).ready(function(){
    $('#panellist-tab a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
  });
</script>

{% endblock %}
