{% load static i18n %}

<div class="card mb-2">
  <div class="card-header">
    <a href="{% url 'applications' %}">
      {% trans 'Applications' %}
    </a>
  </div>
  {% if not categrory or categrory == "applications" %}
    <div class="card-body">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" id="nominations-draft">
          <a
            class="nav-link"
            href="{% url 'applications-draft' %}"
            title="{% trans 'Saved application drafts' %}"
            data-toggle="tooltip"
            >{% trans 'Drafts' %}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'applications-submitted' %}"
            title="{% trans 'Submitted and previous applications' %}"
            data-toggle="tooltip"
            >{% trans 'Submitted' %}</a>
        </li>
      </ul>
    </div>
  {% endif %}
</div>

<div class="card mb-2">
  <div class="card-header">
    <a href="{% url 'my-profile' %}" id="profile">
      {% trans 'Profile' %}
    </a>
  </div>
  {% if categrory == "profile" %}
    <div class="card-body">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'profile-employments' %}"
             id="profile-employments"
             title="{% trans 'Organisation Affiliations' %}"
             data-toggle="tooltip"
             >{% trans 'Organisation Affiliations' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-career-stages' %}" id="profile-career-stages">Career Stages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-external-ids' %}" id="profile-external-ids">External IDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-cvs' %}" id="profile-cvs">Curriculum Vitae</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-academic-records' %}" id="profile-academic-records">
            {% trans "Academic Records" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-recognitions' %}" id="profile-recognitions">
            {% trans "Prizes and/or Medals" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-professional-records' %}" id="profile-professional-records">
            {% trans "Professional Bodies" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-protection-patterns' %}" id="profile-protection-patterns">
            {% trans "Protection Pattern" %}
          </a>
        </li>
      </ul>
    </div>
  {% endif %}
</div>

<div class="card mb-2">
  <div class="card-header">
    <a href="{% url 'nominations' %}">
      {% trans 'Nominations' %}
    </a>
  </div>
  {% if categrory == "nominations" %}
    <div class="card-body">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" id="nominations-draft">
          <a
            class="nav-link"
            href="{% url 'nominations-draft' %}"
            title="{% trans 'Saved nomination drafts' %}"
            data-toggle="tooltip"
            >{% trans 'Drafts' %}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'nominations-submitted' %}"
            title="{% trans 'Submitted and previous nominations' %}"
            data-toggle="tooltip"
            >{% trans 'Submitted' %}</a>
        </li>
      </ul>
    </div>
  {% endif %}
</div>

<div class="card mb-2">
  <div class="card-header">
    <a href="{% url 'my-profile' %}">
      {% trans 'Account' %}
    </a>
  </div>
    <div class="card-body">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'socialaccount_connections' %}"
            title="{% trans 'Add or remove linked external system or social network accounts' %}"
            data-toggle="tooltip"
            >{% trans 'Linked Accounts' %}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'account_set_password' %}"
            title="{% trans 'Set or reset your password' %}"
            data-toggle="tooltip"
            >{% trans 'Password' %}</a>
        </li>
      </ul>
    </div>
</div>
