{% extends 'base.html' %}
{% load i18n static tags bootstrap4 django_bootstrap_breadcrumbs %}
{% load render_table export_url from django_tables2 %}
{% load crispy_forms_tags %}

{% block localcss %}
  {{ block.super }}
  <!-- link href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" rel="stylesheet" -->
  <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet">
{% endblock localcss %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for applications %}
  {% trans "Applications" %}
  {% endbreadcrumb_for %}
  {% if state == "draft" %}
    {% breadcrumb "Draft" "applications-draft" %}
  {% elif state == "submitted" %}
    {% breadcrumb "Submitted" "applications-submitted" %}
  {% endif %}
{% endblock %}

{% block title %}
  {% if view.title %}
    {{ view.title }}
  {% else %}
    {{ super }}
  {% endif %}
{% endblock title %}

{% block content %}

  {% if rounds %}

    <div style="display: inline-flex;">
      <div class="dropdown show" style="margin: 1px;">

        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="active-round-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ round|title }}
        </a>

        <div class="dropdown-menu" aria-labelledby="active-round-menu-link">
          {% for r in rounds %}
            {% if r.id != round.id %}
              <a class="dropdown-item" href="{% url view_name round=r.id %}">{{ r.title }}</a>
            {% endif %}
          {% endfor %}
        </div>

      </div>

      <!-- a class="btn btn-outline-primary" href="{% url 'round-summary' round=round.id %}" role="button">
        {% trans "Show Detailed Report" %}</a -->

      <a class="btn btn-outline-primary" href="{% url 'scores-list' round=round.id %}" role="button" style="margin: 1px;">
        {% trans "Show Scores" %}</a>

      <a
          class="btn btn-outline-primary"
          href="{% url 'round-application-export' pk=round.id %}"
          data-toggle="tooltip" title="{% trans 'Export all the applications of the round' %}"
                                role="button"
                                style="margin: 1px;">
        {% trans "Export PDF" %}
      </a>
    </div>

  {% endif %}

  {% if view.title %}
    <h1>{{ view.title }}</h1>
  {% endif %}

  {% if add_show_only_conflicts_filter %}
    <form method="GET">
      <div class="form-group form-check">
        <input
            {% if show_only_conflicts %}checked{% endif %}
            type="checkbox"
            class="form-check-input"
            id="show-only-conflicts"
            name="show_only_conflicts">
        <label class="form-check-label" for="show-only-conflicts">{% trans 'Show Only Conflicts' %}</label>
      </div>
    </form>
    <script>
      $(document).ready(function() {
              $('#show-only-conflicts').change(function()
                      {
                              $(location).attr("href",
                                      $(location).attr("pathname") + "?show_only_conflicts=" + (this.checked ? '1':'0'));
                            });
            });
    </script>
  {% endif %}

  {% if filter and not filter_disabled %}
    <form action="" method="GET" class="form form-inline mb-3" autocomplete="on">
      {% bootstrap_field filter.form.application_filter show_label=False %}
      <button class="btn btn-primary ml-1">{% trans 'Filter' %}</button>
    </form>
  {% endif %}

  {% render_table table %}

  {% if view.export_formats %}
    <form method="GET">
    <input type="hidden" name="show_only_conflicts" value="{% if show_only_conflicts %}1{% else %}0{% endif %}" >

    <div class="buttonHolder mb-5 mt-3 float-right" style="display: inline-flex;">

      <!-- label for="_export">{% trans 'Export Format' %}</label -->
      <select class="form-control mr-1"  name="_export" id="_export">
        {% for format in view.export_formats %}
          <option value="{{ format }}">{{ format }}</option>
        {% endfor %}
      </select>
      <input class="btn btn-primary" type="submit" value="{% trans 'Export' %}" >

    </div>


    </form>
  {% endif %}

{% endblock %}
