{% extends 'base.html' %}
{% load i18n static tags %}
{% load render_table export_url from django_tables2 %}

{% block localcss %}
  {{ block.super }}
  <!-- link href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" rel="stylesheet" -->
  <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet">
{% endblock localcss %}

{% block title %}
  {% if view.title %}
    {{ view.title }}
  {% else %}
    {{ super }}
  {% endif %}
{% endblock title %}

{% block content %}

  {% if rounds %}
    {% with request.resolver_match.view_name as view_name %}
      <div class="dropdown show">

        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="active-round-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ round|title }}
        </a>

        <div class="dropdown-menu" aria-labelledby="active-round-menu-link">
          {% for r in rounds %}
            <a class="dropdown-item" href="{% url view_name round=r.id %}">{{ r.title }}</a>
          {% endfor %}
        </div>

      </div>
    {% endwith %}
  {% endif %}

  {% if view.title %}
    <h1>{{ view.title }}</h1>
  {% endif %}

  {% if add_show_only_conflicts_filter %}
    <form method="GET">
      <div class="form-group form-check">
        <input
          {% if show_only_conflicts %}checked{% endif %}
          type="checkbox"
          class="form-check-input"
          id="show-only-conflicts"
          name="show_only_conflicts">
        <label class="form-check-label" for="show-only-conflicts">{% trans 'Show Only Conflicts' %}</label>
      </div>
    </form>
      <script>
        $(document).ready(function() {
          $('#show-only-conflicts').change(function()
          {
              $(location).attr("href",
                $(location).attr("pathname") + "?show_only_conflicts=" + (this.checked ? '1':'0'));
          });
        });
      </script>
  {% endif %}

  {% render_table table %}

  {% if view.export_formats %}
    <form method="GET">
    <input type="hidden" name="show_only_conflicts" value="{% if show_only_conflicts %}1{% else %}0{% endif %}" >
      <div class="form-group row">
        <div class="col" style="max-width: 7pc;">
          <!-- label for="_export">{% trans 'Export Format' %}</label -->
          <select class="form-control"  name="_export" id="_export">
            {% for format in view.export_formats %}
              <option value="{{ format }}">{{ format }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <input class="btn btn-primary" type="submit" value="{% trans 'Export' %}" >
        </div>
      </div>
    </form>
  {% endif %}

{% endblock %}
