{% extends "base.html" %}

{% load static i18n django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Testimonials" view_name %}
  {% if state == "draft" %}
    {% breadcrumb "Draft" "applications-draft" %}
  {% elif state == "submitted" %}
    {% breadcrumb "Submitted" "applications-submitted" %}
  {% endif %}
{% endblock %}

{% block sidebar %}{% include 'sidebar.html' with category="testimonials" %}{% endblock sidebar %}

{% block content %}
  {% render_table table %}
{% endblock %}
