{% extends "base.html" %}
{% load static i18n cache django_bootstrap_breadcrumbs %}
{% block title %}{% trans 'About the Catalyst Fund' %}{% endblock title %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Catalyst Fund" "about" %}
{% endblock %}

{% cache None international_about_content %}
{% block content %}
  <h1>
    {% trans 'Catalyst Fund – Advancing global science partnerships for New Zealand' %}
  </h1>
  <div class="row">

    <div class="col-md-4">
      <h2><a name="About"></a>About the Catalyst Fund</h2>
      <p>International science and innovation connectivity provides an opportunity to drive increasing excellence and the potential for impact of New Zealand science.</p>

      <p>The Catalyst Fund supports activities that initiate, develop and foster collaborations leveraging international science and innovation for New Zealand’s benefit.
        Taking a multi-institutional approach is an important element of creating benefit for New Zealand and meeting the aims of the Catalyst Fund.
        The Catalyst Fund is delivered through four instruments: Influence, Leaders, Seeding and Strategic.</p>

      <p>On behalf of the Ministry of Business, Innovation and Employment (MBIE), Royal Society Te Apārangi administers Catalyst: Influence, Catalyst: Leaders and Catalyst: Seeding.</p>
    </div>

    <div class="col-md-8">
      {% blocktrans %}
        <p><a href="https://www.royalsociety.org.nz/what-we-do/funds-and-opportunities/catalyst-fund/catalyst-influence/"><strong>Catalyst: Influence</strong></a></p>
        <p>Supports New Zealand science sector participation in, and membership of, key international science fora and targeted engagement that cannot be supported through other means.</br>
          On behalf of the New Zealand research base, the Royal Society Te Apārangi manages the country’s representation in more than forty international scientific unions.
          This facilitates the sharing of New Zealand’s expertise worldwide and helps enable the international exchange of ideas.</p>
        <p><a href="https://www.royalsociety.org.nz/what-we-do/funds-and-opportunities/catalyst-fund/catalyst-leaders/"><strong>Catalyst: Leaders</strong></a></p>
        <p>Supports incoming and outgoing targeted international fellowships for exceptional individuals that cannot be supported through other means.</p>
        <p><a href="https://www.royalsociety.org.nz/what-we-do/funds-and-opportunities/catalyst-fund/catalyst-seeding/"><strong>Catalyst: Seeding</strong></a></p>
        <p>Facilitates new small and medium pre-research strategic partnerships that cannot be supported through other means, and with a view to developing full collaborations that
          could be supported through Catalyst: Strategic over time.</p>
      {% endblocktrans %}
    </div>

    <p>&nbsp;<br>&nbsp;</p>
    <p>Supported by the New Zealand Government with funding from the <strong>Ministry of Business, Innovation and
      Employment</strong>.&nbsp; Nā Te Hīkina Whakatutuki te mana hāpai.<br>
    <img border='0' width='33%' src="{% static 'images/international.royalsociety.org.nz/MBIE-logo.png' %}" alt='MBIE Logo'>
    <img border='0' width='33%' src="{% static 'images/international.royalsociety.org.nz/RS_brandmark_horizontal.png' %}" alt='Royal Society Te Apārangi Logo'>
    <img border='0' width='33%' src="{% static 'images/international.royalsociety.org.nz/NZ-Government-logo.png' %}" alt='NZ Government Logo'></p>
  </div>

{% endblock content %}
{% endcache %}
