{% extends "explorer/base.html" %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock %}

{% block sql_explorer_navlinks %}
  {{ block.super }}
  <li class="nav-item" id="admin:index">
    <a id="admin-link"
       class="nav-link"
       href="{% url 'admin:index' %}"
       data-toggle="tooltip"
       title="PMSPP Administration"
     >
       <i class="fas fa-radiation"></i> PMSPP Admin</a>
  </li>
  <li class="nav-item" id="admin:index">
    <a id="admin-link"
       class="nav-link"
       href="{% url 'home' %}"
       data-toggle="tooltip"
       title="Go back to the portal"
     >
       <i class="fa fa-fw fa-home"></i> Portal</a>
  </li>
{% endblock %}
