<header class="header"
        style="background-image:url(https://www.royalsociety.org.nz/assets/PanelHeroImages/banner-desgin.PNG); background-size: cover; background-position: 50% 15%;"
        >
        <div
            style="
                   top: 0;
                   right: 10%;
                   background: -webkit-gradient(linear,left top,right top,from(#fff),color-stop(40%,#fff),color-stop(80%,rgba(0,0,0,.7)),to(transparent));
                   background: linear-gradient(90deg,#fff 0,#fff 10%,rgba(255,255,255,.4) 70%,transparent);"


            >

            <a href="{% url 'home' %}" style="margin-left: 24px;">
              <img id="logo"
                   src="https://www.royalsociety.org.nz/assets/Uploads/FW-Lab17-Logo.png"
                   >
            </a>
        </div>
</header>
