{% extends "base.html" %}
{% load static i18n cache django_bootstrap_breadcrumbs %}
{% block title %}{% trans 'About the Prizes' %}{% endblock title %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "About the Prizes" "about" %}
{% endblock %}

{#% cache None about_content %#}
{% block content %}
  <h1>
    {% trans 'About has not yet been created' %}
  </h1>
  <div class="row">

    <div class="col">
      <p>{% trans 'About has not yet been created.' %}</p>
      
    {% if request.user.is_superuser or request.user.is_staff %}
      {% if perms.flatpages.change_flatpage %}
      <ul>
        <li>
            <a type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            title="{% trans 'Create About page in English' %}"
            target="_blank"
            href="{% url 'admin:flatpages_flatpage_add' %}?url=%2Fen%2Fabout%2F&title=About">
            <i class="fas fa-file"></i>
            </a>
            {% trans 'Create <b>About</b> page in English' %}
        </li>
        <li>
            <a type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            title="{% trans 'Create About page in te reo Māori' %}"
            target="_blank"
            href="{% url 'admin:flatpages_flatpage_add' %}?url=%2Fen%2Fabout%2F&title=He%20Whakam%C4%81rama">
            <i class="fas fa-file"></i>
            </a>
            {% trans 'Create <b>About</b> page in te reo Māori' %}
        </li>
      </ul>
      {% endif %}
    {% endif %}
    </div>

  </div>

{% endblock content %}
{#% endcache %#}
