{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Apply for The Prime Minister’s Science Prize" %}{% endblock title %}

{% block content %}
<h1>{% trans "Apply for The Prime Minister’s Science Prize" %}</h1>
<div class="row">

  {% for scheme in schemes %}

    <div class="card">
      <div class="card-header">
        {% trans "The Prime Minister's" %}
        <b style="text-transform: lowercase;">
          {{  scheme.name  }}
        </b>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {% trans "The Prime Minister's" %}
          <b style="text-transform: lowercase;">
            {{  scheme.name  }}
          </b>
        </h5>
        <p class="card-text">{{ scheme.description }}</p>
        <a href="#" class="btn btn-primary">{% trans "Apply" %}</a>
      </div>
    </div>

  {% endfor %}

</div>

{% endblock content %}

