name: Django CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/testing.txt
    - name: Run Code Quality and Unit Tests
      run: |
        flake8 portal users
        MIN_COVERAGE=93
        coverage run -m pytest
        coverage report -m
        COVERAGE_RESULT=`coverage report | grep TOTAL | awk 'N=1 {print $NF}' | sed 's/%//g'`
        if [[ $COVERAGE_RESULT -gt $MIN_COVERAGE ]]; then
            echo ::set-output name=coverage_result::$COVERAGE_RESULT
        else
            echo "#################################################"
            echo "Code coverage below allowed threshold ($COVERAGE_RESULT<$MIN_COVERAGE)"
            exit 1
        fi
