{% load i18n crispy_forms_tags tags %}
<table class="table table-bordered searchable">
  <tbody>

    <tr>
      <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
        {% trans 'Application' %}</th>
      <td colspan="3">
        {% if u.is_superuser and not export %}
          <a href="{% url 'admin:portal_application_change' object_id=a.id %}">
            <strong>{{ a.number }}</strong>{% if a.application_title %}: {{ a.application_title }}{% endif %}
          </a>
        {% else %}
          <strong><a href="{% url 'application' pk=a.id %}">{{ a.number }}</a></strong>{% if a.application_title %}: {{ a.application_title }}{% endif %}
        {% endif %}
      </td>
    </tr>

    {% if a.presentation_url %}
      <tr>
        <td colspan="4">

          {% if "youtube" in a.presentation_url or "vimeo" in a.presentation_url %}

            <iframe
              src="{% if "vimeo" in a.presentation_url %}https://player.vimeo.com/video/{% else %}https://www.youtube.com/embed/{% endif %}{{ a.presentation_url|video_id }}"
              title="{% trans 'Vimeo video player' %}"
              width="640"
              height="360"
              frameborder="0"
              allow="fullscreen; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              ></iframe>

          {% else %}
            <video
                width="640"
                height="360"
                controls
                >
                <source src="{{ a.presentation_url }}">
                {% trans 'Your browser does not support the video tag.' %}
            </video>

            {% endif %}

            <p><a href="{{ a.presentation_url }}">{{ a.application_title|default:a.presentation_url }}</a>.</p>

        </td>
      </tr>
    {% endif %}

    <tr>
      <th class="table-dark" scope="row">{% trans 'Round' %}</th>
      <td colspan="3">{{ a.round }}</td>
    </tr>

    <tr>
      <th class="table-dark" scope="row">
        {% if a.is_team_application or a.members.all.count %}
          {% trans 'Team Lead' %}
        {% else %}
          {% trans 'Applicant' %}
        {% endif %}
      </th>
      <td colspan="3">{{ a|person_with_email }} (username: {{ a.submitted_by }})</td>
    </tr>

    {% if a.is_team_application or a.members.all.count %}

      <tr>
        <th class="table-dark" scope="row">{% trans 'Team:' %}</th>
        <td colspan="3">
          {%if a.team_name %}{{ a.team_name|default:'' }}:{% endif %}
          <ul>
            {% for m in a.members.all %}
              <li>
                {% if u.is_staff or u.is_superuser %}
                  <a href="{% url 'admin:portal_member_change' object_id=m.id %}"> {{ m | person_with_email }} </a>
                {% else %}
                  {{ m | person_with_email }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>

    {% endif %}

    <tr>
      <th class="table-dark" scope="row" style="width: 21%; min-width: 120px; max-width: 180px;">{% trans 'Organisation' %}</th>
    <td>{% if a.org %}{{ a.org }}{% else %}{{ a.organisation|default:'' }}{% endif %}</td>
    <th class="table-dark" scope="row" style="width: 21%; min-width: 120px; max-width: 180px;">{% trans 'Position' %}</th>
    <td>{{ a.position|default:'' }}</td>
    </tr>

    <tr>
      <th class="table-dark" scope="row">{% trans 'Postal Address' %}</th>
      <td colspan="3">
        {{ a.postal_address }}{% if a.city %},<br/>{{a.city}}{% endif %}
        {% if a.postcode %}, {{a.postcode}} {% endif %}
      </td>
    </tr>

    {% if a.daytime_phone_number or a.mobile_phone_number %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Daytime Phone Number' %}</th>
        <td>{{ a.daytime_phone_number }}</td>
        <th class="table-dark" scope="row">{% trans 'Mobile Phone Number' %}</th>
        <td>{{ a.mobile_phone_number }}</td>
      </tr>
    {% endif %}

    {% if not show_basic_details and not export %}

      {% if a.summary or a.summary_en or a.summary_mi %}
        {% if a.is_bilingual %}

          {% if a.summary_en %}
            <tr>
              <th class="table-dark" scope="row" colspan="4" style="padding-top: 6px;padding-bottom: 6px;">{% trans 'Summary (English)' %}</th>
            <tr>
            </tr>
              <td colspan="4">
                {{ a.summary_en|safe }}
              </td>
            </tr>
          {% endif %}

          {% if a.summary_mi %}
            <tr>
              <th class="table-dark" scope="row" colspan="4" style="padding-top: 6px;padding-bottom: 6px;">{% trans 'Summary (Maori)' %}</th>
            <tr>
            </tr>
              <td colspan="4">
                {{ a.summary_mi|safe }}
              </td>
            </tr>
          {% endif %}

        {% elif a.summary %}
          <tr>
            <th class="table-dark" scope="row" colspan="4" style="padding-top: 6px;padding-bottom: 6px;">{% trans 'Summary' %}</th>
          </tr>
          <tr>
            <td colspan="4">{{ a.summary|safe }}</td>
          </tr>
        {% endif %}
      {% endif %}

      <tr>
        <th class="table-dark" scope="row">
          {% trans 'Completed Application Form' %}
          {% if is_panellist %}
            ({% trans 'with attachments' %})
          {% endif %}
        </th>
        <td colspan="3">
          {% if a.file %}
            {% if a|can_edit:user %}
              <a href="{{ a.file.url }}" target="_blank"> {{ a.filename }} </a>
            {% elif is_panellist %}
              <a href="{% url 'application-export' pk=a.pk %}" target="_blank"> {{ a.number }}.pdf </a>
            {% else %}
              <a href="{{ a.pdf_file.url }}" target="_blank"> {{ a.pdf_filename }} </a>
            {% endif %}
          {% else %}
            {% trans 'N/A' %}
          {% endif %}
        </td>
      </tr>

      {% if a.converted_file and a|can_edit:user %}
        <tr>
          <th class="table-dark" scope="row">{% trans 'Completed Application Form (PDF version)' %}</th>
          <td colspan="3">
            <a href="{{ a.converted_file.file.url }}" target="_blank"> {{ a.converted_file.file.name|basename }} </a>
          </td>
        </tr>
      {% endif %}

    {% endif %}

    {% if u.is_staff or u.is_superuser %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Photo Identity' %}</th>
        <td colspan="3">
          {% if a.photo_identity %}<a href="{{ a.photo_identity.url }}" target="_blank">
              {{ a.photo_identity.name|basename }}
        </a>{% else %}{% trans 'N/A' %}{% endif %}
        </td>
      </tr>
    {% endif %}

    {% if nominator %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Nominator' %}</th>
        <td colspan="3">
          {{ nominator | person_with_email }}
        </td>
      </tr>
    {% endif %}

    {% if r.has_referees and  a.referees.all.count and a|can_see_referees:u %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Referees' %}</th>
        <td colspan="3">
          <ul>
            {% for r in a.referees.all %}
              <li>
                {% if u.is_staff or u.is_superuser %}
                  <a href="{% url 'admin:portal_referee_change' object_id=r.id %}">
                    {{ r | person_with_email }}
                  </a>
                {% else %}
                  {{ r | person_with_email }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endif %}

  </tbody>
</table>
